In [29]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [30]:

# df = pd.read_csv("EURUSD_Candlestick_4_Hour_ASK_05.05.2003-16.10.2021.csv")
df = pd.read_csv(f"data\\4h\EOSUSDT_4h.csv", index_col='Time')

# df.columns=['time', 'open', 'high', 'low', 'close', 'volume']
#Check if NA values are in data
# df=df[df['volume']!=0]
# df.reset_index(drop=True, inplace=True)
# df.isna().sum()
df.head(10)

                      Open   High    Low  Close     Volume
Time
2021-11-20 12:00:00  4.336  4.349  4.194  4.200  2777259.8
2021-11-20 16:00:00  4.199  4.331  4.170  4.304  3058394.9
2021-11-20 20:00:00  4.305  4.345  4.294  4.341  1549362.5
2021-11-21 00:00:00  4.340  4.345  4.235  4.253  2411151.5
2021-11-21 04:00:00  4.253  4.290  4.237  4.274  1368036.7
2021-11-21 08:00:00  4.273  4.302  4.236  4.252  2130257.6
2021-11-21 12:00:00  4.253  4.325  4.242  4.322  2338136.4
2021-11-21 16:00:00  4.323  4.381  4.303  4.305  2908357.1
2021-11-21 20:00:00  4.305  4.347  4.230  4.243  2491175.2
2021-11-22 00:00:00  4.244  4.249  4.106  4.147  4717152.4

In [31]:

#df.ta.indicators()
#help(ta.rsi)

import talib   
# close = df['Close']
df['rsi'] = talib.RSI(df['Close'], timeperiod=14)
df['ema_rsi'] = talib.EMA(df['rsi'], timeperiod=20)

# df['RSI'] = df.ta.rsi(length=14)
# df['emaRSI'] = df['RSI'].ta.ema(length=20)

# def myRSI(price, n=20):
#     delta = price['close'].diff()
#     dUp, dDown = delta.copy(), delta.copy()
#     dUp[dUp < 0] = 0
#     dDown[dDown > 0] = 0

#     RolUp = dUp.rolling(window=n).mean()
#     RolDown = dDown.rolling(window=n).mean().abs()
    
#     RS = RolUp / RolDown
#     rsi= 100.0 - (100.0 / (1.0 + RS))
#     return rsi

# #df['RSI'] = myRSI(df)

# #df.dropna(inplace=True)
# #df.reset_index(drop=True, inplace=True)

In [32]:
df=df.dropna()
df

,Open,High,Low,Close,Volume,rsi,ema_rsi
Time,,,,,,,
2021-11-26 00:00:00,4.252,4.267,4.154,4.163,3390955.3,48.137885,49.523831
2021-11-26 04:00:00,4.160,4.180,4.051,4.096,2757852.7,43.686892,48.967932
2021-11-26 08:00:00,4.096,4.097,3.763,3.800,14799591.9,30.339853,47.193830
2021-11-26 12:00:00,3.801,3.937,3.770,3.891,4839381.6,36.738761,46.198109
2021-11-26 16:00:00,3.889,3.930,3.860,3.903,2228715.3,37.553381,45.374801
...,...,...,...,...,...,...,...
2022-05-05 00:00:00,2.226,2.251,2.220,2.227,1789748.9,61.067633,47.824011
2022-05-05 04:00:00,2.226,2.236,2.196,2.210,1294518.5,58.499293,48.840705
2022-05-05 08:00:00,2.210,2.229,2.191,2.197,2303965.5,56.540972,49.574063
2022-05-05 12:00:00,2.196,2.210,1.990,2.014,7467098.1,37.506750,48.424795
2022-05-05 16:00:00,2.014,2.045,1.960,2.010,8184399.1,37.211869,47.356898

In [33]:

df['que'] = np.where((df['rsi'] < df['ema_rsi']+df['ema_rsi']*0.03) & (df['rsi'] > df['ema_rsi']-df['ema_rsi']*0.03), 1, np.nan)

df.dropna()

,Open,High,Low,Close,Volume,rsi,ema_rsi,que
Time,,,,,,,,
2021-11-26 00:00:00,4.252,4.267,4.154,4.163,3390955.3,48.137885,49.523831,1.0
2021-12-02 16:00:00,3.964,3.994,3.905,3.973,1865928.0,48.684963,49.449457,1.0
2021-12-02 20:00:00,3.974,4.007,3.957,3.964,1130669.3,47.846252,49.296771,1.0
2021-12-03 12:00:00,4.091,4.113,3.963,3.987,4792185.3,49.426622,50.441882,1.0
2021-12-06 00:00:00,3.033,3.123,2.887,3.076,6458863.0,32.180598,32.096243,1.0
...,...,...,...,...,...,...,...,...
2022-04-30 00:00:00,2.274,2.287,2.236,2.253,1329794.8,44.961783,45.525496,1.0
2022-04-30 04:00:00,2.253,2.272,2.230,2.255,1674023.5,45.186115,45.493174,1.0
2022-04-30 08:00:00,2.255,2.268,2.243,2.256,912511.2,45.306153,45.475362,1.0
2022-05-03 12:00:00,2.107,2.118,2.073,2.088,2037148.3,43.074107,41.853564,1.0
2022-05-03 20:00:00,2.036,2.064,2.019,2.053,1467718.5,40.493643,41.379771,1.0