In [60]:
import pandas as pd
import numpy as np

import datetime as dt
from binance.client import Client

from ta.momentum import rsi
from ta.trend import ema_indicator




# import talib   
# import ccxt
# import os
# import pandas as pd
# from datetime import datetime, timedelta
# from tqdm import tqdm
# import sys
# import shutil
# from functools import partial
# from pathlib import Path
# import sys
# import shutil
# from collections import Counter


# exchange = ccxt.binance()

# exchange.load_markets()

# symbols = exchange.symbols

In [61]:
# exchange_info = Client.get_exchange_info()
# symbols = []
# for s in exchange_info['symbols']:
#     # print(s['symbol'])
#     symbols.append(s['symbol'])

In [62]:


client=Client()

def get_historical_ohlc_data(symbol,days=2,interval='1h'):
    
    """Returns historcal klines from past for given symbol and interval
    past_days: how many days back one wants to download the data"""
    
    # if not interval:
    #     interval='1h' # default interval 1 hour
    # if not past_days:
    #     past_days=2  # default past days 30.

    # start_str=str((pd.to_datetime('today')-pd.Timedelta(str(past_days)+' days')).date())
    
    # df=pd.DataFrame(client.get_historical_klines(symbol=symbol,start_str=start_str,interval=interval))

    df=pd.DataFrame(client.get_historical_klines(symbol=symbol,start_str=f"{days} days ago UTC",interval=interval))

    df.columns=['open_time','open', 'high', 'low', 'close', 'volume', 'close_time', 'qav', 'num_trades', 'taker_base_vol', 'taker_quote_vol','is_best_match']
    df['open_date_time']=[dt.datetime.fromtimestamp(x/1000) for x in df.open_time]
    # df['symbol']=symbol
    df=df[['open_date_time','open', 'high', 'low', 'close', 'volume']]
    df.set_index('open_date_time', inplace=True)


    return df

In [63]:
def clc():
    # df['rsi'] = talib.RSI(df['close'], timeperiod=14)

    df['rsi'] = rsi(close=pd.to_numeric(df["close"], errors='ignore'), window=14)

    df['ema_rsi'] = ema_indicator(close=pd.to_numeric(df["rsi"], errors='ignore'), window=20)


    
    # df['rsi'] = indicator_rsi()

    # df['ema_rsi'] = talib.EMA(df['rsi'], timeperiod=20)


    df['que'] = np.where((df['rsi'] < (df['ema_rsi']+df['ema_rsi']*0.03)) & (df['rsi'] > (df['ema_rsi']-df['ema_rsi']*0.03)), 1, 0)

    # if df.index[-1].strftime('%d-%m-%Y') == pd.to_datetime("today").strftime('%d-%m-%Y'):
        
    if (df['que'].iloc[-3] == 1) and (df['rsi'].iloc[-3] < df['rsi'].iloc[-2]):
        candy.append(f"{symbol}, {df.index[-3]}, {round(df['rsi'][-3],2)}")

In [64]:



timeframes = ["1h"]

# 'VTHOBTC', 'BSVUSDT', 'BSVBTC', 'CKBBTC', 'SCBTC'
# pairs= ['AR/USDT', 'SYS/USDT', 'BSV/USDT', 'CKB/USDT', 'CTXC/USDT', 'DOGE/USDT', 'ETC/USDT', 'FIL/USDT', 'FIRO/USDT', 'LTC/USDT', 'KMD/USDT', 'RVN/USDT', 'SC/USDT', 'XLM/USDT', 'XMR/USDT', 'XRP/USDT', 'ZEC/USDT', 'ZEN/USDT', 'DGB/USDT', 'DASH/USDT', 'BCH/USDT', 'RNDR/USDT', 'VET/USDT', 'VTHO/USDT', 'KDA/USDT', 'NKN/USDT', 'AR/BTC', 'SYS/BTC', 'CTXC/BTC', 'DOGE/BTC', 'ETC/BTC', 'FIL/BTC', 'FIRO/BTC', 'LTC/BTC', 'KMD/BTC', 'RVN/BTC', 'SC/BTC', 'XLM/BTC', 'XMR/BTC', 'XRP/BTC', 'ZEC/BTC', 'ZEN/BTC', 'DGB/BTC', 'DASH/BTC', 'BCH/BTC', 'RNDR/BTC', 'VET/BTC', 'KDA/BTC', 'NKN/BTC']

pairs= ['ARUSDT', 'SYSUSDT', 'CKBUSDT', 'CTXCUSDT', 'DOGEUSDT', 'ETCUSDT', 'FILUSDT', 'FIROUSDT', 'LTCUSDT', 'KMDUSDT', 'RVNUSDT', 'SCUSDT', 'XLMUSDT', 'XMRUSDT', 'XRPUSDT', 'ZECUSDT', 'ZENUSDT', 'DGBUSDT', 'DASHUSDT', 'BCHUSDT', 'RNDRUSDT', 'VETUSDT', 'VTHOUSDT', 'KDAUSDT', 'NKNUSDT', 'ARBTC', 'SYSBTC', 'CTXCBTC', 'DOGEBTC', 'ETCBTC', 'FILBTC', 'FIROBTC', 'LTCBTC', 'KMDBTC', 'RVNBTC', 'XLMBTC', 'XMRBTC', 'XRPBTC', 'ZECBTC', 'ZENBTC', 'DGBBTC', 'DASHBTC', 'BCHBTC', 'RNDRBTC', 'VETBTC', 'KDABTC', 'NKNBTC']

# pairs=['BNBUSDT']

candy =[]

for timeframe in timeframes:

    for symbol in pairs:

        # if symbol in symbols:

        df = get_historical_ohlc_data(symbol, interval=timeframe)
        
        clc()

In [65]:
print(symbol)
df.tail(5)

NKNBTC

,open,high,low,close,volume,rsi,ema_rsi,que
open_date_time,,,,,,,,
2022-06-19 03:00:00,0.00000387,0.00000390,0.00000386,0.00000387,75421.00000000,47.023961,50.353753,0
2022-06-19 04:00:00,0.00000389,0.00000394,0.00000388,0.00000394,91074.00000000,51.815394,50.492957,1
2022-06-19 05:00:00,0.00000395,0.00000396,0.00000392,0.00000393,48713.00000000,51.104295,50.551180,1
2022-06-19 06:00:00,0.00000393,0.00000402,0.00000391,0.00000395,394460.00000000,52.508096,50.737553,0
2022-06-19 07:00:00,0.00000396,0.00000397,0.00000392,0.00000393,62104.00000000,50.933311,50.756196,1

In [66]:
candy

['FIROBTC, 2022-06-19 05:00:00, 45.78',
 'LTCBTC, 2022-06-19 05:00:00, 64.23',
 'XLMBTC, 2022-06-19 05:00:00, 68.57',
 'XRPBTC, 2022-06-19 05:00:00, 59.25',
 'VETBTC, 2022-06-19 05:00:00, 54.29',
 'NKNBTC, 2022-06-19 05:00:00, 51.1']