In [24]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [25]:

# df = pd.read_csv("EURUSD_Candlestick_4_Hour_ASK_05.05.2003-16.10.2021.csv")
df = pd.read_csv(f"data\\4h\EOSUSDT_4h.csv", index_col='Time')

# df.columns=['time', 'open', 'high', 'low', 'close', 'volume']
#Check if NA values are in data
# df=df[df['volume']!=0]
# df.reset_index(drop=True, inplace=True)
# df.isna().sum()
df.head(10)

                      Open   High    Low  Close     Volume
Time
2021-11-20 12:00:00  4.336  4.349  4.194  4.200  2777259.8
2021-11-20 16:00:00  4.199  4.331  4.170  4.304  3058394.9
2021-11-20 20:00:00  4.305  4.345  4.294  4.341  1549362.5
2021-11-21 00:00:00  4.340  4.345  4.235  4.253  2411151.5
2021-11-21 04:00:00  4.253  4.290  4.237  4.274  1368036.7
2021-11-21 08:00:00  4.273  4.302  4.236  4.252  2130257.6
2021-11-21 12:00:00  4.253  4.325  4.242  4.322  2338136.4
2021-11-21 16:00:00  4.323  4.381  4.303  4.305  2908357.1
2021-11-21 20:00:00  4.305  4.347  4.230  4.243  2491175.2
2021-11-22 00:00:00  4.244  4.249  4.106  4.147  4717152.4

In [26]:

#df.ta.indicators()
#help(ta.rsi)

df['RSI'] = df.ta.rsi(length=14)
df['emaRSI'] = df.ta.ema(length=20)

# def myRSI(price, n=20):
#     delta = price['close'].diff()
#     dUp, dDown = delta.copy(), delta.copy()
#     dUp[dUp < 0] = 0
#     dDown[dDown > 0] = 0

#     RolUp = dUp.rolling(window=n).mean()
#     RolDown = dDown.rolling(window=n).mean().abs()
    
#     RS = RolUp / RolDown
#     rsi= 100.0 - (100.0 / (1.0 + RS))
#     return rsi

# #df['RSI'] = myRSI(df)

# #df.dropna(inplace=True)
# #df.reset_index(drop=True, inplace=True)

In [27]:
df=df.dropna()
df

,Open,High,Low,Close,Volume,RSI,emaRSI
Time,,,,,,,
2021-11-23 16:00:00,4.150,4.226,4.146,4.215,3502251.4,52.105432,4.210050
2021-11-23 20:00:00,4.217,4.250,4.200,4.232,2020720.4,53.201250,4.212140
2021-11-24 00:00:00,4.232,4.260,4.115,4.138,2447149.2,46.822050,4.205079
2021-11-24 04:00:00,4.138,4.190,4.123,4.178,2313787.9,49.591932,4.202500
2021-11-24 08:00:00,4.179,4.222,4.130,4.162,2531237.1,48.503632,4.198643
...,...,...,...,...,...,...,...
2022-05-05 00:00:00,2.226,2.251,2.220,2.227,1789748.9,61.067633,2.135526
2022-05-05 04:00:00,2.226,2.236,2.196,2.210,1294518.5,58.499293,2.142619
2022-05-05 08:00:00,2.210,2.229,2.191,2.197,2303965.5,56.540972,2.147798
2022-05-05 12:00:00,2.196,2.210,1.990,2.014,7467098.1,37.506750,2.135056
2022-05-05 16:00:00,2.014,2.045,1.960,2.010,8184399.1,37.211869,2.123146