In [89]:

# method 2

from bs4 import BeautifulSoup
import requests
import re
from tqdm import tqdm
import pandas as pd

In [90]:
df=pd.read_csv("binance_cmc.csv")
# df.Currency

In [91]:
# fetch coin names from CMC

# import requests
# import pandas as pd


# coins = []
# for i in range(1,3):

#     url = f'https://coinmarketcap.com/?page={i}'
#     html = requests.get(url).content
#     df_list = pd.read_html(html)
#     # df_list[0].Currency[0]
#     # print(df_list[0].Name)

    
#     for i in range(len(df_list[0])):
        
#         # c=df_list[0].Name[i].lower()
#         c=df_list[0].Name[i]

#         c=c.replace(" ","-")

#         coins.append(c)
        
# coins=set(coins)
# print(coins)

In [92]:
# method 1


coins = []
for i in range(len(df)):
    
    c=df.Currency[i].lower()

    c=c.replace(" ","-")

    coins.append(c)
    
coins=list(set(coins))
print(len(coins))
# print((coins))

379

In [93]:
def get_tardingVolume(c):
    
    result = requests.get(f"https://coinmarketcap.com/currencies/{c}/")
    # result = requests.get(f"https://coinmarketcap.com/currencies/fio-protocol/")
    src = result.content
    soup = BeautifulSoup(src, "html.parser")

    # badges = soup.body.find_all('span', attrs={'class': 'badge24h'})
    # print(badges)


    badges = soup.body.find_all('tr')

    # for symbol in badges:
    #     print(symbol)



    result =[]
    for r in badges:
        # result.extend(b.find_all(text='Trading Volume'))

        if r.find_all(text='Trading Volume'):
            result.append(r)
        # print(b)

        # result.extend(b.find_all('span', attrs={'class': 'badge24h'}))
    # print(result)

    # use set to remove duplicates
    result = list(set(result))
    # you should end up with len(result) = 1


    for i in result:
        i=str(i)
        f=i.split("<!-- -->%")
        
        m=re.sub("[^\d\.]", "", f[0][-7:])

        if m == '':
            print(c + " is empty" )
            continue
        
        if ("Caret-down" in i): #or (float(m) < 100):
            m=-1*float(m)
            # print(m)
            TV.append([c, -1*float(m)])
        else:
            # print(c)
            # print(m)
            TV.append([c, float(m)])
            # print(TV)
    
    # return TV

In [94]:
# def updatecsv(TVdf):

#     for k in (TVdf['0'].values):
#         get_tardingVolume(k)

In [ ]:


TV = []

for c in tqdm(coins):

    # print(c)
    get_tardingVolume(c)


TVdf= pd.DataFrame(TV, columns=['coin','b'])
TVdf.to_csv('TVDF.csv')

In [113]:
d=pd.Timestamp.now().strftime('%m-%d %H:%M')
d=str(d)


TVdf= pd.DataFrame(TV, columns=['a', d])
TVdf

                          a  05-19 11:43
0          automata-network        24.03
1             skale-network         4.15
2  kyber-network-crystal-v2        34.17
3                    tether         4.54
4                      dock        38.33

In [112]:
d=pd.Timestamp.now().strftime('%m-%d %H:%M')
d=str(d)
d

'05-19 11:43'

In [88]:
TVdf = pd.read_csv('TVDF.csv', index_col=0)

# updatecsv(TVdf)

TVdf

                            0      1
0            automata-network  21.12
1               skale-network   4.32
2    kyber-network-crystal-v2  33.38
3                      tether   5.16
4                        dock  41.03
..                        ...    ...
328       terra-virtua-kolect  20.42
329     basic-attention-token   7.72
330             celer-network  30.70
331                 superrare  52.14
332           wrapped-bitcoin   7.75

[333 rows x 2 columns]