In [1]:
# cell 56


# video 27:00 
# Y2Mate.is - Data Science Best Practices with pandas (PyCon 2019)


import pandas as pd
import numpy as np
from scipy.signal import argrelextrema
import os

from cycler import cycler


import matplotlib.pyplot as plt
import matplotlib as mpl
# import yfinance as yf
# from collections import deque
# from matplotlib.lines import Line2D
import pandas_ta as ta
import ccxt
from datetime import datetime, timedelta
import plotly.graph_objects as go
# import inspect 
from IPython.display import display, HTML
from tqdm import tqdm
from collections import Counter
from statistics import mode

In [ ]:
# dfs

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.rand(8, 4), index=dates, columns=['Open', 'High', 'Low', 'Close'])

#########

df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})

#######

df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

#######

In [ ]:
'''Notes about coding '''
""" when you're done editing; copy the notebook file as backup """
""" each cell is a standalone """

In [ ]:
""" Tricks """

""" to run only a small piece of code from within a cell; first run its dependecies than 
select the lines you want to run then press left mouse button and look for run selcted line  
if teminal wont recognize code ; type py to run python inside it"""
# line comment is ctrl + : 
# multi line comment is shift + alt + a
# copy line(s) is shift+alt+arrow
#

In [9]:
l = [1, 2, 5, 4, 3]

print(l.sort()) # returns None

sorted(l) # returns a sorted version of l

None

[1, 2, 3, 4, 5]

In [ ]:
df = pd.read_csv("C:\Users\Grant\Desktop\work_git\work\data/1d/1INCHUSDT_1d.csv")

# SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

# solution 

# add \ before the \U
df = pd.read_csv("C:\\Users\Grant\Desktop\work_git\work\data/1d/1INCHUSDT_1d.csv")

In [ ]:
# make yourself familliar with dataset before using it

df.dtypes # shows data types of each column
df.shape # shows number of rows and columns
df.head() # shows first 5 rows
df.isna().sum() # shows number of missing values in each column
df.info() # shows number of non-null values in each column

# somtimes you find (! ?) as values inside df cells which are not recognized as nan
# so the solutin is to use replace method

In [ ]:
# The assert keyword is used when debugging code.

# The assert keyword lets you test if a condition in your code returns True,
# if not, the program will raise an AssertionError.

# You can write a message to be written if the code returns False, 
# check the example below.

x = "hello"

#if condition returns False, AssertionError is raised:
assert x == "goodbye", "x should be 'hello'"

In [ ]:
my_list = [0] * 6
# [0, 0, 0, 0, 0, 0]

# the result is a repetition of references to the data objects in the sequence. 
# This can best be seen by considering the following session:

my_list = [1, 2, 3, 4]
big_list = [my_list] * 3
print(big_list)
# [[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

my_list[2] = 45
print(big_list)
# [[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

# see the difference?

In [ ]:
(54).__add__(21)
# is the same as
(54 + 21)

In [ ]:
range(10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list(range(10))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(5, 10)
# [5, 6, 7, 8, 9]
list(range(5, 10))
# [5, 6, 7, 8, 9]
list(range(5, 10, 2))
# [5, 7, 9]
list(range(10, 1, -1))
# [10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
my_name = "David"
my_name[3]
# 'i'
my_name * 2
# 'DavidDavid'
len(my_name)
# 5

In [ ]:
# Tuples are very similar to lists in that they are heterogeneous sequences of data. 
# The difference is that a tuple is immutable, like a string. 
# A tuple cannot be changed.

In [ ]:
# A set is an unordered collection of zero or more immutable Python data objects.
# this means that a set can only contain objects that are immutable.
# this means a set can be modified

# Sets do not allow duplicates 
# The empty set is represented by set(). 
# Sets are heterogeneous, meaning that they can contain elements of different types.

In [ ]:
my_set= {False, 3, 4.5, 6, 'cat'}
your_set = {99, 3, 100}

my_set.union(your_set)
# {False, 3, 4.5, 'cat', 6, 99, 100}
my_set | your_set
# {False, 3, 4.5, 'cat', 6, 99, 100}
my_set.intersection(your_set)
# {3}
my_set & your_set
# {3}
my_set.difference(your_set)
# {False, 'cat', 4.5, 6}
my_set - your_set
# {False, 'cat', 4.5, 6}
{3, 100}.issubset(your_set)
# True
{3, 100} <= your_set
# True
my_set.add("house")
# {False, 'house', 3, 4.5, 6, 'cat'}
my_set.remove(4.5)
# {False, 'house', 3, 6, 'cat'}
my_set.pop()
# False
my_set
# {'house', 3, 6, 'cat'}
my_set.clear()
# set()

In [ ]:
a_dict = {'a': 1, 'b': 2, 'c': 3}

a_dict['d']
# Returns the value associated with d, otherwise its an error

a_dict.get('d')
# Returns the value associated with d, None otherwise

a_dict.get('d', 'alternative_value')
# Returns the value associated with d, alt otherwise

In [ ]:
# turn two lists into a dictionary

keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary) 
# {'a': 1, 'b': 2, 'c': 3}

# Dictionary comprehension
new_dict = {k: v for k, v in zip(keys, values)}
# {'a': 1, 'b': 2, 'c': 3}

In [ ]:
lst = [1,2,3,4,5,2,0,5,1,8,9,7,5,9,8,2,4]

set(lst) 
# return an ordered list with unique elements of lst
# {0, 1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
# frequency of numbers on a list (wont work on letters)


lst = [1,2,3,4,5,2,0,5,1,8,9,7,5,9,8,2,4]

c = Counter(lst)
# Counter({2: 3, 5: 3, 1: 2, 4: 2, 8: 2, 9: 2, 3: 1, 0: 1, 7: 1})

c[9] # returns number of times 9 appears in lst
c[5] # returns number of times 5 appears in lst

dct=dict(Counter(lst))
# {1: 2, 2: 3, 3: 1, 4: 2, 5: 3, 0: 1, 8: 2, 9: 2, 7: 1}

# dict respected the order that the element of the list apperead in
# but with no duplicates

list(dct)
# list dct keys
# [1, 2, 3, 4, 5, 0, 8, 9, 7]

list(dct.values())
# list dct values
#[2, 3, 1, 2, 3, 1, 2, 2, 1]

# access keys by index
list(dct)[-2]

# access values by index
list(dct.values())[-2]

In [7]:
# most common element on a list

lst = [1,2,3,4,5,2,0,5,1,8,9,7,5,9,8,2,4]

#####

def most_common(lst):
    return max(lst, key=lst.count)

most_common(lst)

############
# the code below Works around 50 times faster than the one-liner proposed above.


def Most_Common(lst):
    data = Counter(lst)
    return data.most_common(1)[0][0]

Most_Common(lst)

############

# To retrieve the element that occurs first in the list in case of ties:

def most_common2(lst):
    data = Counter(lst)
    return max(lst, key=data.get)

most_common2(lst)

2

In [14]:

a = [1936, 2401, 2916, 4761, 9216, 9216, 9216, 9604, 9801] 

print(Counter(a).most_common(3)) 
# the 1 means most common element... 2 would mean the 2 most common

[(9216, 3), (1936, 1), (2401, 1)]

In [17]:
mode([7,7,7,7,7, 2, 2, 3, 3, 3, 3, 3, 4, 5, 6, 6, 6])

# note that there are 5 seven and 5 threes in the list, 
# rhis means there are 2 common elements in the list
# but the mode returns the first common element

7

In [ ]:
# l=[]
# for n in range(55):
#     best_sma(data, n)
#     l.append(best_sma)


#       1 l=[]
#       2 for n in range(55):
# ----> 3     best_sma(data, n)
#       4     l.append(best_sma)

# TypeError: 'int' object is not callable

# the ^roblem is i have a var called best_sma
# so youcant have var and function with htr same name

In [ ]:
# Finding Missing Values
# Pandas provides isnull(), isna() functions to detect missing values. Both of them do the same thing.
# df.isna() returns the dataframe with boolean values indicating missing values.

# You can also choose to use notna() which is just the opposite of isna().
# df.isna().any() returns a boolean value for each column. 
# If there is at least one missing value in that column, the result is True.

# df.isna().sum() returns the number of missing values in each column.

In [ ]:
# How to build a pandas DataFrame with a for-loop in Python
import pandas as pd

rows = []
for i in range(3):
     rows.append([i, i + 1])
print(rows)

# OUTPUT
# [[0, 1], [1, 2], [2, 3]]

dfc = pd.DataFrame(rows, columns=["A", "B"])
print(dfc)

# OUTPUT
#    A  B
# 0  0  1
# 1  1  2
# 2  2  3

# Use a list comprehension for a more compact implementation.

rows = [[i, i+1] for i in range(3)]
dfc = pd.DataFrame(rows, columns=["A", "B"])
print(dfc)

# OUTPUT
#    A  B
# 0  0  1
# 1  1  2
# 2  2  3

# USE COLUMN INDEXING TO BUILD A DATAFRAME WITH A FOR-LOOP

dfc = pd.DataFrame(columns=["A", "B"])
for i in range(2):
    this_column = dfc.columns[i]
    dfc[this_column] = [i, i+1]

print(dfc)

# OUTPUT
#    A  B
# 0  0  1
# 1  1  2

In [2]:
# sorting by a column

# use inplace=True to make changes permanent 
# so you could use the result with other functions


df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df
#   col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F

# Sort by col1

df.sort_values(by=['col1'])

#   col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 5    C     4     3    F
# 4    D     7     2    e
# 3  NaN     8     4    D

# Sort by multiple columns

df.sort_values(by=['col1', 'col2'])

#   col1  col2  col3 col4
# 1    A     1     1    B
# 0    A     2     0    a
# 2    B     9     9    c
# 5    C     4     3    F
# 4    D     7     2    e
# 3  NaN     8     4    D

# Sort Descending

df.sort_values(by='col1', ascending=False)

#   col1  col2  col3 col4
# 4    D     7     2    e
# 5    C     4     3    F
# 2    B     9     9    c
# 0    A     2     0    a
# 1    A     1     1    B
# 3  NaN     8     4    D

# Putting NAs first

df.sort_values(by='col1', ascending=False, na_position='first')

#   col1  col2  col3 col4
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F
# 2    B     9     9    c
# 0    A     2     0    a
# 1    A     1     1    B

# Sorting with a key function

df.sort_values(by='col4', key=lambda col: col.str.lower())

#    col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F

# Natural sort with the key argument, using the natsort <https://github.com/SethMMorton/natsort> package.

df = pd.DataFrame({
   "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
   "value": [10, 20, 30, 40, 50]
})
df
#     time  value
# 0    0hr     10
# 1  128hr     20
# 2   72hr     30
# 3   48hr     40
# 4   96hr     50

from natsort import index_natsorted

df.sort_values(
   by="time",
   key=lambda x: np.argsort(index_natsorted(df["time"]))
)

#     time  value
# 0    0hr     10
# 3   48hr     40
# 2   72hr     30
# 4   96hr     50
# 1  128hr     20

ModuleNotFoundError: No module named 'natsort'

In [ ]:
# for setting, values, you need to use df['column'] = ....
# you cant use df.column 

# once this is done , you can refer to that column in the future with df.column

In [ ]:
# How to add element in Python to the end of list using list.insert?

# You'll have to pass the new ordinal position to insert using len in this case:

a=[1,2,3,4]
a.insert(len(a),5)
a
# [1, 2, 3, 4, 5]

In [ ]:
# How to write a list to a file in Python
# Writing a list to file saves the data contained in a list to a text file.
# Each element from the list is written as a single line in the file.

# USE file.write() TO WRITE A LIST TO A FILE
# Call open(file, mode) with "w" as mode to open file for writing. 
# Use a for-loop to iterate over each element in a list. 
# Call file.write(data) with each element and a newline character as data to write it to file.

a_list = ["abc", "def", "ghi"]
textfile = open("path\\a_file.txt", "w")
for element in a_list:
    textfile.write(element + "\n")
textfile.close()

# A_FILE.TXT
# abc
# def
# ghi

# or

with open("path\\a_file.txt", "w") as file:

    file_lines = "\n".join(a_list)
    file.write(file_lines)



# OTHER SOLUTIONS
# Use pickle to write a list to a file

# If the text file is only being saved for use later in the program, this method is more efficient.

In [ ]:
# How to write a file to a list in Python

# SAMPLE1.TXT
# a
# b
# c
# d
# e

file = open("sample1.txt", "r")
file_lines = file.read()
list_of_lines = file_lines.split("\n")

print(list_of_lines)
# OUTPUT
# ['a', 'b', 'c', 'd', 'e']

In [27]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

df
#     brand style  rating
# 0  Yum Yum   cup     4.0
# 1  Yum Yum   cup     4.0
# 2  Indomie   cup     3.5
# 3  Indomie  pack    15.0
# 4  Indomie  pack     5.0

# By default, it removes duplicate rows based on all columns.

df.drop_duplicates()

#     brand style  rating
# 0  Yum Yum   cup     4.0
# 2  Indomie   cup     3.5
# 3  Indomie  pack    15.0
# 4  Indomie  pack     5.0

# To remove duplicates on specific column(s), use subset.

df.drop_duplicates(subset=['brand'])

#     brand style  rating
# 0  Yum Yum   cup     4.0
# 2  Indomie   cup     3.5

# To remove duplicates and keep last occurrences, use keep.

df.drop_duplicates(subset=['brand', 'style'], keep='last')

#     brand style  rating
# 1  Yum Yum   cup     4.0
# 2  Indomie   cup     3.5
# 4  Indomie  pack     5.0

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0

In [31]:
# Return Index without NA/NaN values.

idx = pd.Index(['2015-10-31', '2015-12-02', None, '2016-01-03',
                '2016-02-08', '2017-05-05', None, '2014-02-11'])
  
idx.dropna(how='any')

Index(['2015-10-31', '2015-12-02', '2016-01-03', '2016-02-08', '2017-05-05',
       '2014-02-11'],
      dtype='object')

In [ ]:
# Customizing Matplotlib with style sheets and rcParams
import matplotlib as mpl
from cycler import cycler

plt.rcParams['figure.figsize'] = [12, 7]

mpl.rcParams['lines.linewidth'] = 2
mpl.rcParams['lines.linestyle'] = '--'

mpl.rcParams['axes.prop_cycle'] = cycler(color=['r', 'g', 'b', 'y'])
plt.plot(data)  # first color is red

mpl.rc('lines', linewidth=4, linestyle='-.')

plt.rc('font', size=14)

In [4]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

# add a column to df contains rows numbers of df 
df['row_number'] = range(df.shape[0])

# shrink df to 2 columns only
df1 = df.loc[:, ['brand', 'style']]

# shrink df to 1 column only AKA series
df2 = df.loc[:, 'rating']
df2

0     4.0
1     4.0
2     3.5
3    15.0
4     5.0
Name: rating, dtype: float64

In [26]:
# heiken ashi
# Now, let’s calculate Heikin Ashi candles according to the original formula. 
# Since we need to check the previous candle, we have to skip the first row.
# We’ll store the result in a new data frame called df_ha. 
# We copy the original data of the candles in order to keep the same highs and lows. 
# Then, we remove the first line.

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.rand(8,4), index=dates, columns=['Open', 'High', 'Low', 'Close'])

df_ha = df.copy()

for i in range(df_ha.shape[0]):
  if i > 0:
    df_ha.loc[df_ha.index[i],'Open'] = (df['Open'][i-1] + df['Close'][i-1])/2
  
    df_ha.loc[df_ha.index[i],'Close'] = (df['Open'][i] + df['Close'][i] + df['Low'][i] +  df['High'][i])/4

df_ha = df_ha.iloc[1:,:]


############
# TIP

# explicit index is:
df_ha.index
# DatetimeIndex(['2000-01-02', '2000-01-03', '2000-01-04', '2000-01-05',
#                '2000-01-06', '2000-01-07', '2000-01-08'],
#               dtype='datetime64[ns]', freq='D')

# implicit index is:
df_ha.shape[0]
# from 0 to 7-1=6

# put implicit index in df.index method and you get the explicit index
df_ha.index[6]
# Timestamp('2000-01-08 00:00:00', freq='D')

Timestamp('2000-01-08 00:00:00', freq='D')

In [ ]:
# dataset = [dict(Images='img1', location=r'New/gfg.png'),
#            dict(Images='img2', location=r'New/1.png'),
#            dict(Images='img3', location=r'New/gfg2.png'),
#            dict(Images='img4', location=r'New/oled.png'),
#            dict(Images='img5', location=r'New/oled2.png')]

# better version

dataset = dict(Images=['img1', 'img2', 'img3', 'img4', 'img5'],
                location=[r'New/pic1.png', r'New/pic2.png', r'New/pic3.png', r'New/pic4.png', r'New/pic5.png'])

In [30]:
# How to create a table with clickable hyperlink to a local file in Pandas

# # Step 2 : Creating dataset of local path images

dataset = dict(Images=['img1', 'img2', 'img3', 'img4', 'img5'],
                location=[r'New/pic1.png', r'New/pic2.png', r'New/pic3.png', r'New/pic4.png', r'New/pic5.png'])
 
  
df = pd.DataFrame(dataset)
  
# # Function to convert file path into clickable form.
  
def fun(path):
    
    # basename returns the final component of a path
    # c:/folder/file.jpg ---> file.jpg
    f_url = os.path.basename(path)
      
    # convert the path into clickable link
    return '<a href="{}">{}</a>'.format(path, f_url)
  
  
# # applying function "fun" on column "location".
df = df.style.format({'location': fun})
  
df

In [31]:
# df made of dict of lists

df = pd.DataFrame(dict(age=[5, 6, np.NaN],
                    born=[pd.NaT, pd.Timestamp('1939-05-27'),pd.Timestamp('1940-04-25')],
                    name=['Alfred', 'Batman', ''],
                    toy=[None, 'Batmobile', 'Joker']))

df
#    age       born    name        toy
# 0  5.0        NaT  Alfred       None
# 1  6.0 1939-05-27  Batman  Batmobile
# 2  NaN 1940-04-25              Joker

df.isna()
#      age   born   name    toy
# 0  False   True  False   True
# 1  False  False  False  False
# 2   True  False  False  False

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [32]:
# df made of list of lists

df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                   columns=list("ABCD"))


df
#      A    B   C    D
# 0  NaN  2.0 NaN  0.0
# 1  3.0  4.0 NaN  1.0
# 2  NaN  NaN NaN  NaN
# 3  NaN  3.0 NaN  4.0

# Replace all NaN elements with 0s.
df.fillna(0)

#      A    B    C    D
# 0  0.0  2.0  0.0  0.0
# 1  3.0  4.0  0.0  1.0
# 2  0.0  0.0  0.0  0.0
# 3  0.0  3.0  0.0  4.0

# We can also propagate non-null values forward or backward.
df.fillna(method="ffill")

#      A    B   C    D
# 0  NaN  2.0 NaN  0.0
# 1  3.0  4.0 NaN  1.0
# 2  3.0  4.0 NaN  1.0
# 3  3.0  3.0 NaN  4.0

df.fillna(method="bfill")

demo = pd.Series(range(6))
demo.loc[2:4] = np.nan
demo
# Note
# df.loc[2,4] menas 2,3 and 4
# but 
# df.iloc[2,4] means 2 and 3

# 0    0.0
# 1    1.0
# 2    NaN
# 3    NaN
# 4    NaN
# 5    5.0

# # Forward-Fill
demo.fillna(method='ffill')

# 0    0.0
# 1    1.0
# 2    1.0
# 3    1.0
# 4    1.0
# 5    5.0

# # Backward-Fill
demo.fillna(method='bfill')

# 0    0.0
# 1    1.0
# 2    5.0
# 3    5.0
# 4    5.0
# 5    5.0

# Replace all NaN elements in column ‘A’, ‘B’, ‘C’, and ‘D’, with 0, 1, 2, and 3 respectively.
values = {"A": 0, "B": 1, "C": 2, "D": 3}
df.fillna(value=values)

#      A    B    C    D
# 0  0.0  2.0  2.0  0.0
# 1  3.0  4.0  2.0  1.0
# 2  0.0  1.0  2.0  3.0
# 3  0.0  3.0  2.0  4.0

# Only replace the first NaN element.
df.fillna(value=values, limit=1)

#      A    B    C    D
# 0  0.0  2.0  2.0  0.0
# 1  3.0  4.0  NaN  1.0
# 2  NaN  1.0  NaN  3.0
# 3  NaN  3.0  NaN  4.0

# replace the NAN with values from another df
# When filling using a DataFrame, replacement happens along the same column names and same indices
df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
df.fillna(df2)

#      A    B    C    D
# 0  0.0  2.0  0.0  0.0
# 1  3.0  4.0  0.0  1.0
# 2  0.0  0.0  0.0  NaN
# 3  0.0  3.0  0.0  4.0
# Note that column D is not affected since it is not present in df2.

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  NaN
3  0.0  3.0  0.0  4.0

In [2]:
# Using break
# The break statement will completely break out of the current loop,
# meaning it won’t run any more of the statements contained inside of it

names = ["Rose", "Max", "Nina", "Phillip"]
for name in names:
    print(f"Hello, {name}")
    if name == "Nina":
        break

# Hello, Rose
# Hello, Max
# Hello, Nina


# Using continue
# continue works a little differently. 
# Instead, it goes back to the start of the loop, 
# skipping over any other statements contained within the loop.

for name in names:
    if name != "Nina":
        continue

    print(f"Hello, {name}")

# Hello, Nina

Hello, Rose
Hello, Max
Hello, Nina
Hello, Nina

In [ ]:
# FUNCTION SCOPE
# Inside of a function in Python, the scope changes.
# it’s scope changes to a new internal scope. 
# It has access to the variables defined outside of it, but it can’t change them.

# Once the function is done running, 
# its scope and the ability to access variable inside that function goes away
# espeacialy in jupiter notebook



def twitter_info():
    twitter_account = "nnja"
    print(f"Account inside function: {twitter_account}")

twitter_info()
# Account inside function: nnja
print(f"Account outside of function: {twitter_account}")

# NameError: name 'twitter_account' is not defined

# We get a NameError when trying to access the twitter_account variable outside of the function. 
# That’s because it’s out of scope, exactly like we expected it to be.

# Using variables defined outside of the function
# Generally, we want to be careful when using variables defined outside of our function.

# Note, that if we try to change the value of a variable defined outside of our function, 
# we’ll see the changes in the function, but not outside of it.
# means that you can take the value of a variable from outside the function
# and stuff with it, but the variable can not be changed from inside the function

# TLDR: You can’t change variables defined outside of the function inside of the function. 
# If you try to, your changes will only apply while the function is running. 
# Once the function is done running, the value goes back to what it was before your function ran.

# A little confusing, but let’s see it in action:

name = "Nina"
print(f"Name outside of function: {name}")
# Name outside of function: Nina

def try_change_name():
     name = "Max"
     print(f"Name inside of function: {name}")

try_change_name()
# Name inside of function: Max
print(f"Name outside of function: {name}")
# Name outside of function: Nina

# same variable but no conflict!

In [ ]:
# Arguments Danger Zone
# Never use mutable types, like lists as a default argument.

# remember to never use an empty list as a default value to a function.

# Why? Because it won’t work like you’d expect it to.

# Don't do this!
def add_five_to_list(my_list=[]):
     my_list.append(5)
     return my_list

# This works like we expected it to.
add_five_to_list()
# [5]
# Huh?
add_five_to_list()
# [5, 5]
# We see that the original `my_list` is still being modified.
add_five_to_list()
# [5, 5, 5]
# If you need to use a mutable type, like a list as a default,
# use a marker instead.

# In Python, default arguments are evaluated only once – when the function is defined. 
# Not each time the function is called. 
# That means if you use a value that can be changed, 
# it won’t behave like you’d expect it to.

In [4]:

# DROPNA

df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),pd.NaT]})
df
#        name        toy       born
# 0    Alfred        NaN        NaT
# 1    Batman  Batmobile 1940-04-25
# 2  Catwoman   Bullwhip        NaT

# Drop the rows where at least one element is missing.
df.dropna()
#      name        toy       born
# 1  Batman  Batmobile 1940-04-25

# Drop the columns where at least one element is missing.
df.dropna(axis='columns')
#        name
# 0    Alfred
# 1    Batman
# 2  Catwoman

# Drop the rows where all elements are missing.
df.dropna(how='all')
#        name        toy       born
# 0    Alfred        NaN        NaT
# 1    Batman  Batmobile 1940-04-25
# 2  Catwoman   Bullwhip        NaT

# Keep only the rows with at least 2 non-NA values.
df.dropna(thresh=2)
#        name        toy       born
# 1    Batman  Batmobile 1940-04-25
# 2  Catwoman   Bullwhip        NaT

# Define in which columns to look for missing values.
df.dropna(subset=['name', 'toy'])
#        name        toy       born
# 1    Batman  Batmobile 1940-04-25
# 2  Catwoman   Bullwhip        NaT

# Keep the DataFrame with valid entries in the same variable.
df.dropna(inplace=True)
df
#      name        toy       born
# 1  Batman  Batmobile 1940-04-25

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [ ]:
# DROP

# Remove rows or columns by specifying label names and corresponding axis,
# or by specifying directly index or column names.

df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df
#    A  B   C   D
# 0  0  1   2   3
# 1  4  5   6   7
# 2  8  9  10  11

# Drop columns

df.drop(['B', 'C'], axis=1)
#    A   D
# 0  0   3
# 1  4   7
# 2  8  11

df.drop(columns=['B', 'C'])
#    A   D
# 0  0   3
# 1  4   7
# 2  8  11

# Drop a rows by index
df.drop([0, 1])
#    A  B   C   D
# 2  8  9  10  11

In [ ]:
# remove a directory with its subfolders
import shutil
import os

if os.path.exists(path):
    shutil.rmtree(path)

In [ ]:
# nice way to automaticly update csv
# note :  df index is a kind of time format
# use parse_dates = True, when importing csv

c=pd.to_datetime(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
b=pd.to_datetime(df.index[-1]) #+pd.to_timedelta(1, unit="d")
if (c- b) < pd.to_timedelta(1, unit="d"):
    print(c-b)

In [13]:
# Time now is

datetime.now()
# # datetime.datetime(2022, 3, 4, 7, 23, 11, 826623)

datetime.now().strftime('%Y-%m-%d %H:%M:%S')
# # '2022-03-04 07:22:44'

pd.to_datetime(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
# # Timestamp('2022-03-04 07:23:25')

Timestamp('2022-03-04 07:23:25')

In [ ]:
# install talib 

#  in googel colab

# !wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
# !tar xvzf ta-lib-0.4.0-src.tar.gz
# import os
# os.chdir('ta-lib') # Can't use !cd in co-lab
# !./configure --prefix=/usr
# !make
# !make install
# os.chdir('../')
# !pip install TA-Lib


# in windows 

# downlooad ta-lib-0.4.0-msvc 
# put it it c:\talib
# add it to the path variable

# Download package from here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib . 

#in terminal with virenv open
# Cd to the downloaded file's dir
# pip install TA_Lib‑0.4.19‑cp37‑cp37m‑win_amd64.whl

In [ ]:
# share variables between two jupyter notebooks:

# jupyter notbook1:
var_name
%store var_name

# jupyter notbook2:
%store -r var_name
var_name

In [ ]:

# to make a folder with subfolders inside it
os.makedirs

# to make only a folder
os.mkdir

In [ ]:
# use unit ms with unix_time
data['Time'] = pd.to_datetime(data['Time'], unit='ms')
# remove the 'unit' argument, its easier and fewer errors
data['Time'] = pd.to_datetime(data['Time'])

data.set_index('Time', inplace=True)
data.to_csv(path) 

tem_data = pd.read_csv(path, index_col='Time')
d = tem_data.index[-1] - datetime.now()

# TypeError: unsupported operand type(s) for -: 'str' and 'datetime.datetime'

# looks like when i save df as csv datetime turned into an str

# solution maybe 
tem_data = pd.read_csv(path, index_col='Time', parse_dates=True)

In [ ]:
# ccxt gives the last candle which has not closed yet
# so use [:-1]

In [14]:

# argrelextrema takes only np array (no list)
arr=np.array([1,2,3,4,5,6,7,6,5,4,3,2,3,4,5,6,7,8,9,10,11,12,13,12])

# use [0] at the end because argrel returns a tuple with two elements
co = argrelextrema(arr, np.greater, order=1)[0]
co
# array([ 6, 22], dtype=int64)
# 6 and 22 are indexs coresspend to 7 and 13 in arr


arr=np.array([1,2,3,4,5,6,7,6,5,4,3,2,3,4,5,6,7,8,9,10,11,12,13])
co = argrelextrema(arr, np.greater, order=1)[0]
co
# array([6], dtype=int64)

# after removing the last digit "12" we find that argrelextream coudnot regonize
# the peak at '13' simply because it needs confirmation

array([6], dtype=int64)

In [3]:
# zoom plot without problem by using svg format

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [ ]:
# Reading date columns from a CSV file
# By default, date columns are represented as object when loading data from a CSV file.

# For example, data_1.csv
# date,product,price
# 1/1/2019,A,10
# 1/2/2020,B,20
# 1/3/1998,C,30
# The date column gets read as an object data type using the default read_csv():

df = pd.read_csv('data/data_1.csv')
df.info()

# RangeIndex: 3 entries, 0 to 2
# Data columns (total 3 columns):
#  #   Column   Non-Null Count  Dtype 
# ---  ------   --------------  ----- 
#  0   date     3 non-null      object
#  1   product  3 non-null      object
#  2   price    3 non-null      int64 
# dtypes: int64(1), object(2)
# memory usage: 200.0+ bytes

# To read the date column correctly, we can use the argument parse_dates to specify a list of date columns.

df = pd.read_csv('data/data_3.csv', parse_dates=['date'])
df.info()

# RangeIndex: 3 entries, 0 to 2
# Data columns (total 3 columns):
#  #   Column   Non-Null Count  Dtype         
# ---  ------   --------------  -----         
#  0   date     3 non-null      datetime64[ns]
#  1   product  3 non-null      object        
#  2   price    3 non-null      int64         
# dtypes: datetime64[ns](1), int64(1), object(1)
# memory usage: 200.0+ bytes

In [3]:

# df1=pd.read_csv("C:\\Users\\Grant\\Desktop\\work_git\\work\data\\4h\\1INCHUSDT_4h.csv",index_col=['Time'], parse_dates=['Time'])

# df2=pd.read_csv("C:\\Users\\Grant\\Desktop\\work_git\\work\data\\4h\\1INCHUSDT_4h.csv",index_col=0, parse_dates=['Time'])

df3=pd.read_csv("C:\\Users\\Grant\\Desktop\\work_git\\work\data\\4h\\1INCHUSDT_4h.csv", parse_dates=True)

df3

                    Time   Open   High    Low  Close     Volume
0    2021-09-15 00:00:00  3.073  3.130  3.012  3.099  1674559.7
1    2021-09-15 04:00:00  3.099  3.152  3.059  3.133  2142393.1
2    2021-09-15 08:00:00  3.131  3.154  3.098  3.118  1638988.2
3    2021-09-15 12:00:00  3.118  3.170  3.086  3.138  1729930.4
4    2021-09-15 16:00:00  3.138  3.142  3.088  3.127   891949.6
..                   ...    ...    ...    ...    ...        ...
994  2022-02-27 16:00:00  1.469  1.539  1.385  1.393  2545578.5
995  2022-02-27 20:00:00  1.393  1.412  1.360  1.384  1115504.6
996  2022-02-28 00:00:00  1.384  1.388  1.340  1.359  1315612.6
997  2022-02-28 04:00:00  1.358  1.372  1.327  1.364  2319096.1
998  2022-02-28 08:00:00  1.365  1.394  1.362  1.384   826904.1

[999 rows x 6 columns]

In [ ]:

apple_df = pd.read_csv("C:\\Users\\Grant\\Desktop\\work_git\\work\data\\4h\\1INCHUSDT_4h.csv" , index_col=0, parse_dates=True)
dt_range = pd.date_range(start='2022-01-01', end='2022-03-31')
apple_df_m = apple_df[apple_df.index.isin(dt_range)]
# apple_df_m.head()
apple_df.head()

In [ ]:
# date2num

# Convert datetime objects to Matplotlib dates.

# num2date

# Convert Matplotlib dates to datetime objects.

In [25]:
# pandas.DataFrame.shape

# Return a tuple representing the dimensionality of the DataFrame.

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df.shape
# (2, 2)

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4], 'col3': [5, 6]})
df.shape
# (2, 3)

(2, 3)

In [5]:
# plot two chart on top of each other with plotly

import plotly.graph_objects as go

dates = pd.date_range('1/1/2000', periods=8)

# np.random.rand(8, 4) >> matrix 8 by 4
df = pd.DataFrame(np.random.rand(8, 4), index=dates, columns=['Open', 'High', 'Low', 'Close'])

fig = go.Figure()
# Create and style traces

# fig.add_trace(go.Scatter(x=df['Time'], y=df['SMA']))

fig.add_trace(go.Scatter(x=df.index, y=df['Open']))
fig.add_trace(go.Scatter(x=df.index, y=df['Close']))

fig.show()

In [3]:
np.random.rand(8, 4)

array([[0.6688443 , 0.08781266, 0.14675232, 0.54237537],
       [0.00910245, 0.3372203 , 0.90816328, 0.94997005],
       [0.98681583, 0.00107989, 0.6620847 , 0.65537435],
       [0.0109418 , 0.22225698, 0.13737005, 0.07272794],
       [0.44182861, 0.8829711 , 0.78888521, 0.55826783],
       [0.41996218, 0.97101167, 0.44305895, 0.05002522],
       [0.26454564, 0.26704454, 0.44242516, 0.01168902],
       [0.45794603, 0.39531249, 0.6122568 , 0.29437881]])

In [ ]:
# when defining a default argument to funtion 
# you may encounter old data been used

# def fun(df=data):

# its better to do 
# def fun(df)

In [ ]:
# find cell in df by its index

# df['close'][index]

# if index is numbers :
df['Close'][2]

# if index is in time format : 
df['Close']["2000-01-01"]

# if index is a letter:
df['Close']["c"]

In [ ]:
# Pandas Series - Why use loc

# Explicit is better than implicit.

# df[boolean_mask] selects rows where boolean_mask is True, 
# but there is a corner case when you might not want it to: 
# when df has boolean-valued column labels:

df = pd.DataFrame({True:[1,2,3],False:[3,4,5]})
df

# 	 True	False
# 0	 1	    3
# 1	 2	    4
# 2	 3	    5

In [ ]:
# You might want to use df[[True]] to select the True column. 
# Instead it raises a ValueError:

df[[True]]
# ValueError: Item wrong length 1 instead of 3.

# but
df[True]

# 0    1
# 1    2
# 2    3
# Name: True, dtype: int64

In [ ]:
# In contrast, the following does not raise ValueError 
# even though the structure of df2 is almost the same as df1 above:

df2 = pd.DataFrame({'A':[1,2,3],'B':[3,4,5]})
df2

#    A  B
# 0  1  3
# 1  2  4
# 2  3  5

df2[['B']] # output is a dataframe

#    B
# 0  3
# 1  4
# 2  5

df2['B'] # output is a series

# 0    3
# 1    4
# 2    5
# Name: B, dtype: int64

In [16]:
# df.loc[row_indexer, column_index] can select rows and columns. 
# df[indexer] can only select rows or columns 
# depending on the type of values in indexer and the type of column values df has (again, are they boolean?).

df2.loc[[True,False,True], 'B']
 
# 0    3
# 2    5
# Name: B, dtype: int64

0    3
2    5
Name: B, dtype: int64

In [ ]:
# When a slice is passed to df.loc the end-points are included in the range. 
# When a slice is passed to df[...], the slice is interpreted as a half-open interval:

df2[1:2]
 
#    A  B
# 1  2  4

df2['B']

# 0    3
# 1    4
# 2    5
# Name: B, dtype: int64

df2.loc[1:2]

#    A  B
# 1  2  4
# 2  3  5

df2.loc[:,'B']

# 0    3
# 1    4
# 2    5
# Name: B, dtype: int64

df2.loc[[1,2], 'B']

# 1    4
# 2    5
# Name: B, dtype: int64

In [ ]:
# add a list into df with specific index 


def isSupport(df,i):
  # fractal (i-2)>(i-1)>i<(i+1)<(i+2)
  support = df['Low'][i] < df['Low'][i-1]  and df['Low'][i] < df['Low'][i+1] \
  and df['Low'][i+1] < df['Low'][i+2] and df['Low'][i-1] < df['Low'][i-2]

  return support

def isResistance(df,i):
  resistance = df['High'][i] > df['High'][i-1]  and df['High'][i] > df['High'][i+1] \
  and df['High'][i+1] > df['High'][i+2] and df['High'][i-1] > df['High'][i-2] 

  return resistance

pair = "xrp".upper()
data=pd.read_csv(f"C:\\Users\Grant\Desktop\work_git\work\data\\4h\{pair}USDT_4h.csv", parse_dates=True)
# data=pd.read_csv("C:\\Users\Grant\Desktop\work_git\work\data\\1d\ENSUSDT_1d.csv", parse_dates=True)
# data[-55:]

levels = []
  # start from 2 because i need i-2
  # end at shape[0]-2 because  i need i+2
  # i is the number of current row
for i in range(2,data.shape[0]-2):
    if isSupport(data,i):
        levels.append((i,data['Low'][i]))
        
    elif isResistance(data,i):
        levels.append((i,data['High'][i]))


for i in levels:
  rowIndex = data.index[i[0]]
  data.loc[rowIndex, 'levels'] = i[1]

In [ ]:
# when using jupytr beaware of mixing variable with othr dataframes like if you have the variable of df1
# and try to plot df2 with it

In [ ]:
# remember that data is in UTC but my time is UTC+1

In [ ]:
# in functions must use timeframe=timeframe and limit=Limit 

# or the default take over and alot of problems arise

In [3]:
df = pd.empty(0)

if (df):
    print('hh')
else:
    print('else')


# ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# solution

if len(df):
    print('hh')
else:
    print('else')



# or 

if df.empty:
    print('hh')
else:
    print('else')

AttributeError: module 'pandas' has no attribute 'empty'

In [4]:
# virtual env
# PS C:\Users\Grant\virenv> py -m venv algo
# PS C:\Users\Grant\virenv> cd algo
# PS C:\Users\Grant\virenv\algo> cd Scripts
# PS C:\Users\Grant\virenv\algo\Scripts> ./activate

In [5]:

# pd.set_option('display.max_rows', None)

# pd.options.display.max_rows
# Out[2]: 15

# pd.options.display.max_rows = 999

# pd.options.display.max_rows
# Out[4]: 999

In [6]:
# get_loc : Get integer location (implicit index) , slice or boolean mask for requested label.
# 
# search index
# data.index.get_loc('2021-07-15 00:00:00')
# 
# search df columns
# data.get_loc('value')

In [7]:
# # ISO 8601 Duration strings
# pd.Timedelta("P0DT0H1M0S")
# Out[13]: Timedelta('0 days 00:01:00')

# pd.Timedelta("P0DT0H0M0.000000123S")
# Out[14]: Timedelta('0 days 00:00:00.000000123')

In [ ]:
# index has no iloc

# time in df is a numpy time not a python datetime; numpy time is considered as int

In [1]:
# always take a look at the data; because i had a problem with read csv i did not give it index col

In [ ]:
# (function) flatnonzero: (a: ArrayLike) -> NDArray[intp]
# Return indices that are non-zero in the flattened version of a.

# This is equivalent to np.nonzero(np.ravel(a))[0].

# Parameters
# a : array_like
#     Input data.

# Returns
# res : ndarray
#     Output array, containing the indices of the elements of a.ravel() that are non-zero.

# See Also
# nonzero : Return the indices of the non-zero elements of the input array.
# ravel : Return a 1-D array containing the elements of the input array.

# Examples
# >>> x = np.arange(-2, 3)
# >>> x
# array([-2, -1,  0,  1,  2])
# >>> np.flatnonzero(x)
# array([0, 1, 3, 4])
# Use the indices of the non-zero elements as an index array to extract these elements:

# >>> x.ravel()[np.flatnonzero(x)]
# array([-2, -1,  1,  2])

In [ ]:
# Check if a value exists in pandas dataframe index

# 'value' in df.index

# g in df.<your selected field>.values
# g in df.index.values
# I find that adding the ".values" to get a simple list or ndarray out 
# makes exist or "in" checks run more smoothly with the other python tools.

# This was really helpful to point out. I have a hierarchical case 
# where in g in df.index produces true 
# and in g in df.index.values false. Interesting

In [ ]:
# https://www.codegrepper.com/code-examples/python/second+row+to+last+index+pandas

# https://www.codegrepper.com/code-examples/python/pandas+how+to+get+last+index

In [ ]:
# https://stackoverflow.com/questions/61116489/indexes-getting-unordered-when-numbers-are-sorted-in-pandas

In [ ]:
# https://www.pythontutorial.net/python-basics/python-check-if-file-exists/

In [ ]:
# https://linuxize.com/post/python-get-change-current-working-directory/#:~:text=To%20find%20the%20current%20working,chdir(path)%20.

In [ ]:
# https://towardsdatascience.com/how-to-export-pandas-dataframe-to-csv-2038e43d9c03

In [ ]:
# to save a webpage as pdf just look for print

In [ ]:
# try:
#     do something
# except:
#     print('2')
#     try:
#         print('1')
#     except:
#         print('0')

# the last try execpt loop will not work and will give you no eror

In [ ]:
# error
# TypeError: '>' not supported between instances of 'NoneType' and 'NoneType'

# this error means you are compairng number with nan 
# in my case i put 1d in the timeframe wich was alot for a new coin because 
# i was asking for 111 candles
# so i change to 1 hr and voila

In [ ]:
# if not a:
#   print("List is empty")

In [ ]:
# in not in

In [ ]:
# https://stackoverflow.com/questions/29700214/get-the-closest-datetime-from-a-list

In [ ]:
# # any all list comprehension

# Python uses list data type to store multiple data in a sequential index. It works like a numeric array of other programming languages. filter() method is a very useful method of Python. One or more data values can be filtered from any string or list or dictionary in Python by using filter() method.  It filters data based on any particular condition. It stores data when the condition returns true and discard data when returns false. How the string data in a list can be filtered in Python is shown in this article by using different examples. You have to use Python 3+ to test the examples of this article.
# Filter a list of string using another list
# This example shows how the data in a list of string can be filtered without using any method. The list of the string is filtered here by using another list. Here, two list variables are declared with the name list1 and list2. The values of list2 is filtered by using the values of list1. The script will match the first word of each value of list2 with the values of list1 and print those values that don’t exist in list1.

# # Declare two list variables
# list1 = ['Perl', 'PHP', 'Java', 'ASP']
# list2 = ['JavaScript is client-side scripting language',
#          'PHP is a server-side scripting language',
#          'Java is a programming language',
#          'Bash is a scripting language']
 
# # Filter the second list based on first list
# filter_data = [x for x in list2 if
#               all(y not in x for y in list1)]
 
# # Print list data before filter and after filter
# print("The content of the first list:", list1)
# print("The content of the second list:", list2)
# print("The content of the second list after filter:", filter_data)
# Output:

# Run the script. Here, list1 does not contain the word ‘Bash’. 
# The output will contain only one value from list2 that is ‘Bash is a scripting language’.

# Filter a list of string using another list and custom function
# This example shows how a list of string can be filtered by using another list 
# and the custom filter function. The script contains two list variables 
# named list1 and list2. The custom filter function will find out the common values of both list variables.

# # Declare two list variables
# list1 = ['90', '67', '34', '55', '12', '87', '32']
# list2 = ['9', '90', '38', '45', '12', '20']
 
# # Declare a funtion to filter data from the first list
# def Filter(list1, list2):
#     return [n for n in list1 if
#              any(m in n for m in list2)]
 
# # Print the list data before filter and after filter
# print("The content of list1:", list1)
# print("The content of list2:", list2)
# print("The data after filter",Filter(list1, list2))
# Output:

# Run the script. 90 and 12 values exist in both list variables. The following output will be generated after running the script.



# Filter a list of string using regular expression
# List is filtered by using all() and any() methods in the previous two examples. A regular expression is used in this example to filter the data from a list. A regular expression is a pattern by which any data can be searched or matched. ‘re’ module is used in python to apply regular expression in the script. Here, a list is declared with subject codes. A regular expression is used to filter those subject codes that start with the word, ‘CSE’. ‘^‘ symbol is used in regular expression patterns to search at the starting of the text.

# # Import re module to use regular expression
# import re
 
# # Declare the list contains subject code
# sublist = ['CSE-407', 'PHY-101', 'CSE-101', 'ENG-102', 'MAT-202']

# # Declare the filter function
# def Filter(datalist):
#     # Search data based on regular expression in the list
#     return [val for val in datalist
#         if re.search(r'^CSE', val)]

# # Print the filter data
# print(Filter(sublist))
# Output:

# Run the script. sublist variable contains two values that start with ‘CSE’. The following output will appear after running the script.



# Filter a list of string using lamda expression
# This example shows the use of lamda expression to filter data from a list of strings. Here, a list variable named search_word is used to filter content from a text variable named text. The content of the text is converted into a list named, text_word based on space by using split() method. lamda expression will omit those values from the text_word that exist in search_word and store the filtered values in a variable by adding space.

# # Declare a list that contains the search word
# search_word = ["Teach", "Code", "Programming", "Blog"]

# # Define the text where the word from the list will search
# text = "Learn Python Programming from Linux Hint Blog"

# # Split the text based on space and store the words in a list
# text_word = text.split()

# # Using lambda expression filter the data
# filter_text = ' '.join((filter(lambda val: val not i
# n search_word, text_word)))

# # Print text before filtering and after filtering
# print("\nText before filtering:\n", text)
# print("Text after filtering:\n", filter_text)
# Output:

# Run the script. The following output will appear after running the script.



# Filter a list of string using filter() method
# filter() method accepts two parameters. The first parameter takes a function name or None and the second parameter takes the name of the list variable as values. filter() method stores those data from the list if it returns true, otherwise, it discards the data. Here, None is given as the first parameter value. All values without false will be retrieved from the list as filtered data.

# # Declare a list of mix data
# listData = ['Hello', 200, 1, 'World', False, True, '0']
 
# # Call filter() method with None and a list
# filteredData = filter(None, listData)
 
# # Print the list after filtering the data
# print('The list after filtering:')
# for val in filteredData:
#     print(val)
# Output:

# Run the script. The list contains only one false value that will be omitted in the filtered data. The following output will appear after running the script.



# Conclusion:
# Filtering is helpful when you need to search and retrieve particular values from a list. I, hope, the above examples will help the readers to understand the ways of filtering data from a list of strings.

In [ ]:
# higher high , higher low .. probapilty whats happend next

# go to weekly and find trend lines like atomusdt logarithm

In [ ]:
# pandas generalities 21:37

# if a column type is object; most likly its strings
# pandas df could host another df inside of it

df.columns
df.index
df.values # outputs an array
df.values[0] # array which is the first row of df

df['col1'] # return a series
df[['col1']] # returs a df

df.drop(['B', 'C'], axis=1)
df.drop(columns=['B', 'C'])
# Drop a row by index
df.drop([0, 1])
df.drop(index='cow', columns='small')

df.drop() # works with rows; so change the axis if you wanna work columns
df.drop(['col1', 'col2'], axis='columns') 

df[['col1', 'col2']].drop_duplicates()

df.sort_values(['col1', 'col2'])
df.sort_values('col1', ascending=False)


df.describe()
gdf = df.groupby('col1')
df.groupby('col1').agg({'col1': 'mean'})
df.groupby('col1').sum()

In [ ]:
# strings manipulation

string1="ETH/USDT"
string1.replace("/","") 

# Creation
word = "Hello World"

# Accessing
# Use [ ] to access characters in a string

word = "Hello World"
letter=word[0]

# Length
len(word)
# 11

# Finding
# word = "Hello World">>> print word.count('l') # count how many times l is in the string
# 3

# >>> print word.find("H") # find the word H in the string
# 0

# >>> print word.index("World") # find the letters World in the string
# 6
# Count
# s = "Count, the number of spaces"

# >>> print s.count(' ')
# 8
# Slicing
# Use [ # : # ] to get set of letter

# Keep in mind that python, as many other languages, starts to count from 0!!

# word = "Hello World"

# print word[0] #get one char of the word
# print word[0:1] #get one char of the word (same as above)
# print word[0:3] #get the first three char
# print word[:3] #get the first three char
# print word[-3:] #get the last three char
# print word[3:] #get all but the three first char
# print word[:-3] #get all but the three last character

# word = "Hello World"

# word[start:end] # items start through end-1
# word[start:] # items start through the rest of the list
# word[:end] # items from the beginning through end-1
# word[:] # a copy of the whole list
# Split Strings
# word = "Hello World"

# >>> word.split(' ') # Split on whitespace
# ['Hello', 'World']
# Startswith / Endswith
# word = "hello world"

# >>> word.startswith("H")
# True

# >>> word.endswith("d")
# True

# >>> word.endswith("w")
# False
# Repeat Strings
# print "."* 10 # prints ten dots

# >>> print "." * 10
# ..........
# Replacing
# word = "Hello World"

# >>> word.replace("Hello", "Goodbye")
# 'Goodbye World'
# Changing Upper and Lower Case Strings
# string = "Hello World"

# >>> print string.upper()
# HELLO WORLD

# >>> print string.lower()
# hello world

# >>> print string.title()
# Hello World

# >>> print string.capitalize()
# Hello world

# >>> print string.swapcase()
# hELLO wORLD
# Reversing
# string = "Hello World"

# >>> print ' '.join(reversed(string))
# d l r o W o l l e H
# Strip
# Python strings have the strip(), lstrip(), rstrip() methods for removing
# any character from both ends of a string.

# If the characters to be removed are not specified then white-space will be removed

# word = "Hello World"
# Strip off newline characters from end of the string

# >>> print word.strip('
# ')
# Hello World

# strip() #removes from both ends
# lstrip() #removes leading characters (Left-strip)
# rstrip() #removes trailing characters (Right-strip)

# >>> word = " xyz "

# >>> print word
# xyz

# >>> print word.strip()
# xyz

# >>> print word.lstrip()
# xyz

# >>> print word.rstrip()
# xyz
# Concatenation
# To concatenate strings in Python use the “+” operator.

# "Hello " + "World" # = "Hello World"
# "Hello " + "World" + "!"# = "Hello World!"
# Join
# >>> print ":".join(word) # #add a : between every char
# H:e:l:l:o: :W:o:r:l:d

# >>> print " ".join(word) # add a whitespace between every char
# H e l l o W o r l d

# Testing
# A string in Python can be tested for truth value.

# The return type will be in Boolean value (True or False)

# word = "Hello World"

# word.isalnum() #check if all char are alphanumeric 
# word.isalpha() #check if all char in the string are alphabetic
# word.isdigit() #test if string contains digits
# word.istitle() #test if string contains title words
# word.isupper() #test if string contains upper case
# word.islower() #test if string contains lower case
# word.isspace() #test if string contains spaces
# word.endswith('d') #test if string endswith a d
# word.startswith('H') #test if string startswith H

'llo s, n_'

In [ ]:
import pandas as pd
from IPython.core.display import display, HTML

dict = {'A':["BTC/USDT", "ETH/USDT", "ATOM/USDT", "ANKR/USDT"]}
df = pd.DataFrame(dict)

df['link'] = df['A'].apply(
    lambda x: f'<a href="https://www.tradingview.com/chart/UOC7kIDx/?symbol=BINANCE%3A{x.replace("/","")}">{x}</a>')

# just print the link column
# display(HTML(df[["link"]].to_html(escape=False)))

display(HTML(df.to_html(escape=False)))

In [ ]:
print(total[total[0]==18].index.values)

In [ ]:
# lambda
# Simply put, a lambda function is just like any normal python function,
# except that it has no name when defining it,
# and it is contained in one line of code.

# can only perform one expression.
# It’s not possible to have multiple independent operations in one lambda function.

#Normal python function
def a_name(x):
    return x+x

#Lambda function
lambda x: x+x

# let’s look at situations when to use lambda functions. 

# 1.Scalar values

# In the code below, the function was created and then immediately executed.
# This is an example of an immediately invoked function expression or IIFE.

(lambda x: x*2)(12)
###Results
24

# Filter().

#  This is a Python inbuilt library that returns only those values that fit certain criteria.
#  The syntax is filter(function, iterable).
#  The iterable can be any sequence such as a list, set, or series object (more below).

# The example below filters a list for even numbers.
#  Note that the filter function returns a ‘Filter object’ and you need to encapsulate it
#  with a list to return the values.

list_1 = [1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2==0, list_1)
### Results
# <filter at 0xf378982348>

list(filter(lambda x: x%2==0, list_1))
###Results
[2, 4, 6, 8]

# Map().

# This is another inbuilt python library with the syntax map(function, iterable).
# This returns a modified list where every value in the original list has been changed
#  based on a function. The example below cubes every number in the list.

list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)
###Results
[1, 8, 27, 64, 125, 216, 343, 512, 729]

#  Series object

import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

# Lambda with Apply() function by Pandas. 
# This function applies an operation to every element of the column.
# To get the current age of each member, we subtract their birth year from the current year.
# In the lambda function below, x refers to a value in the birthyear column,
# and the expression is 2021(current year) minus the value.

df['age'] = df['Birthyear'].apply(lambda x: 2021-x)
df
#    Name    Status  Birthyear  age
# 0  Luke    Father       1976   45
# 1  Gina    Mother       1984   37
# 2   Sam       Son       2013    8
# 3  Emma  Daughter       2016    5

# Lambda with Python’s Filter() function. 
# This takes 2 arguments; one is a lambda function with a condition expression,
#  two an iterable which for us is a series object.
#  It returns a list of values that satisfy the condition.

list(filter(lambda x: x>18, df['age']))
###Results
[45, 37]


# Lambda with Map() function by Pandas.
# Map works very much like apply() in that it modifies values of a column based on the expression.
#Double the age of everyone
df['double_age'] = df['age'].map(lambda x: x*2)


# We can also perform conditional operations that return different values based on certain criteria.
# The code below returns ‘Male’ if the Status value is father or son,
# and returns ‘Female’ otherwise. 
# Note that apply and map are interchangeable in this context.
#Conditional Lambda statement
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='father' or x=='son' else 'Female')

# 4. Lambda on Dataframe object

# I mostly use Lambda functions on specific columns (series object)
# rather than the entire data frame, unless I want to modify the entire data frame with one expression.
# For example rounding all values to 1 decimal place,
# in which case all the columns have to be float or int datatypes because round() can’t work on strings.
df.apply(lambda x:round(x,1))
# Returns an error if some columns are not numeric
# In the example below, we use apply on a dataframe and select the columns to modify in the Lambda function.
# Note that we must use axis=1 here so that the expression is applied column-wise.
# convert to lower-case
df[['Name','Status']] = df.apply(lambda x: x[['Name','Status']].str.lower(), axis=1)

In [ ]:
# The function numpy.polyfit () 
# finds the best fit line by minimizing the sum of squared error. 
# give it a chart and it will give you its equation_if it was polonomial_

# This method accepts three parameters:
# x – input data
# y- output data
# Polynomial degree value (integer)

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# Generating data
# We will create some mock data to explore polynomial fitting
# The unknown function we are trying to fit
f = lambda x: (x-3)**2

# Generating the sample points
# lispace(0,5,20) : 20 numbers between 0 and 5; seperated equaly 
x = np.linspace(0, 5, 20)

# Adding gaussian noise to x and f(x)
np.random.seed(123456)
noise_x = np.random.normal(0, .1, len(x))
noise_y = np.random.normal(0, .5, len(x))
data_x = x + noise_x
data_y = f(x) + noise_y

# Let’s assume that this is our starting point. 
# We are given some data and we wish to fit a polynomial. 
# I always recommend plotting you data first!

plt.plot(data_x, data_y, 'o')


# Polynomial Fitting
# The np.polyfit function is exactly what we want. 
# Given a set of xy points and a polynomial degree, 
# np.polyfit returns the coefficients of the best fit. 
# Lets see it in action

coeff = np.polyfit(data_x, data_y, deg=2)
print(coeff)
# [ 0.94969091 -5.707748    8.46536612]

# The coefficients are returned from highest to lowest power
# (note: The order of the coefficients is important). 
# We can now use these coefficients to evaluate the polynomial.

# Polynomial Function
eq = lambda x: coeff[0]*x**2 + coeff[1]*x + coeff[2]

# Points to evaluate _ start and end 
xp = np.linspace(min(data_x), max(data_x), 500)

# Plotting result
plt.plot(data_x, data_y, 'o')
plt.plot(xp, eq(xp), color='C2')


# WAIT!!!
# While what we have done has worked there is a flaw in our method. 
# By handcrafting the polynomial function we have lost flexibility. 
# If I want a 7th degree fit then we waste lots of time writing up a 7th degree polynomial function 
# and introduce the possibility for errors. The np.poly1d function creates polynomial functions
#  from the list of coefficients directly. Here the order matters 
#  and luckily np.poly1d expects the polynomial’s coefficients in decreasing powers 
#  which is exactly what np.polyfit returns. Lets create that 7th order polynomial fit

p7 = np.poly1d(np.polyfit(data_x, data_y,  7))
xp = np.linspace(min(data_x), max(data_x), 500)

plt.plot(data_x, data_y, 'o')
plt.plot(xp, p7(xp), color='C3')

# Now we have a flexible procedure to do polynomial fitting. 
# We can put this procedure into a loop and plot many polynomial fits

plt.plot(data_x, data_y, 'o')
xp = np.linspace(min(data_x), max(data_x), 500)
for degree in [1, 2, 10]:
    eq = np.poly1d(np.polyfit(data_x, data_y,  degree))
    plt.plot(xp, eq(xp), label='$p_{{{}}}$'.format(degree))
plt.legend()

In [ ]:
# numpy array vs python lists

import numpy
   
# size of arrays and lists
size = 1000000  
   
# declaring lists
list1 = range(size)
list2 = range(size)
   
# declaring arrays
array1 = numpy.arange(size)  
array2 = numpy.arange(size)
   
# multiplying  elements of both the lists and stored in another list
resultantList = [(a * b) for a, b in zip(list1, list2)]

# multiplying  elements of both the Numpy arrays and stored in another Numpy array 
resultantArray = array1 * array2
   

# declaring a list
ls =[1, 2, 3]
  
# converting the list into a Numpy array
arr = np.array([1, 2, 3])
  

# adding 4 to each element of list
ls = ls + 4
# TypeError
# "Lists don't support list + int"
  

# adding 4 to each element of Numpy array
arr = arr + 4
# [5 6 7]

In [ ]:
# swap column

df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()

In [ ]:
# Slicing ranges with df[:3]
import pandas as pd
import numpy as np

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

df
# Out[3]: 
#                    A         B         C         D
# 2000-01-01  0.469112 -0.282863 -1.509059 -1.135632
# 2000-01-02  1.212112 -0.173215  0.119209 -1.044236
# 2000-01-03 -0.861849 -2.104569 -0.494929  1.071804
# 2000-01-04  0.721555 -0.706771 -1.039575  0.271860
# 2000-01-05 -0.424972  0.567020  0.276232 -1.087401
# 2000-01-06 -0.673690  0.113648 -1.478427  0.524988
# 2000-01-07  0.404705  0.577046 -1.715002 -1.039268
# 2000-01-08 -0.370647 -1.157892 -1.344312  0.844885

s = df['A']

s[dates[5]]
# Out[5]: -0.6736897080883706

# With Series, the syntax works exactly as with an ndarray,
#  returning a slice of the values and the corresponding labels:
s[:5]
# Out[27]: 
# 2000-01-01    0.469112
# 2000-01-02    1.212112
# 2000-01-03   -0.861849
# 2000-01-04    0.721555
# 2000-01-05   -0.424972
# Freq: D, Name: A, dtype: float64

s[::2]
# Out[28]: 
# 2000-01-01    0.469112
# 2000-01-03   -0.861849
# 2000-01-05   -0.424972
# 2000-01-07    0.404705
# Freq: 2D, Name: A, dtype: float64

s[::-1]
# Out[29]: 
# 2000-01-08   -0.370647
# 2000-01-07    0.404705
# 2000-01-06   -0.673690
# 2000-01-05   -0.424972
# 2000-01-04    0.721555
# 2000-01-03   -0.861849
# 2000-01-02    1.212112
# 2000-01-01    0.469112
# Freq: -1D, Name: A, dtype: float64
# Note that setting works as well:

s2 = s.copy()

s2[:5] = 0

s2
# Out[32]: 
# 2000-01-01    0.000000
# 2000-01-02    0.000000
# 2000-01-03    0.000000
# 2000-01-04    0.000000
# 2000-01-05    0.000000
# 2000-01-06   -0.673690
# 2000-01-07    0.404705
# 2000-01-08   -0.370647
# Freq: D, Name: A, dtype: float64

# With DataFrame, slicing inside of [] slices the rows. 
# This is provided largely as a convenience since it is such a common operation.
df[:3]
# Out[33]: 
#                    A         B         C         D
# 2000-01-01  0.469112 -0.282863 -1.509059 -1.135632
# 2000-01-02  1.212112 -0.173215  0.119209 -1.044236
# 2000-01-03 -0.861849 -2.104569 -0.494929  1.071804

df[::-1]
# Out[34]: 
#                    A         B         C         D
# 2000-01-08 -0.370647 -1.157892 -1.344312  0.844885
# 2000-01-07  0.404705  0.577046 -1.715002 -1.039268
# 2000-01-06 -0.673690  0.113648 -1.478427  0.524988
# 2000-01-05 -0.424972  0.567020  0.276232 -1.087401
# 2000-01-04  0.721555 -0.706771 -1.039575  0.271860
# 2000-01-03 -0.861849 -2.104569 -0.494929  1.071804
# 2000-01-02  1.212112 -0.173215  0.119209 -1.044236
# 2000-01-01  0.469112 -0.282863 -1.509059 -1.135632

In [ ]:
#Check if NA values are in data
# only keep the rows that has volume!=0

import pandas as pd

df = pd.DataFrame({'v': [1,2,3,4,5], 'volume': [1,0,8,0,6]})
df
#    v  volume
# 0  1       1
# 1  2       0
# 2  3       8
# 3  4       0
# 4  5       6

# mask is a true or false 
mask = df['volume']!=0
# when applying mask to df; only the true values will be consideres
df = df[mask]
df
# v	volume
# 0	1	1
# 2	3	8
# 4	5	6

# a shorter version is
df=df[df['volume']!=0]
df
# v	volume
# 0	1	1
# 2	3	8
# 4	5	6

In [ ]:
# pandas.DataFrame.reset_index
import pandas as pd
df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))
df
#          class  max_speed
# falcon    bird      389.0
# parrot    bird       24.0
# lion    mammal       80.5
# monkey  mammal        NaN

# When we reset the index, the old index is added as a column, and a new sequential index is used:
df.reset_index()
#     index   class  max_speed
# 0  falcon    bird      389.0
# 1  parrot    bird       24.0
# 2    lion  mammal       80.5
# 3  monkey  mammal        NaN

# We can use the drop parameter to avoid the old index being added as a column:
df.reset_index(drop=True)
#     class  max_speed
# 0    bird      389.0
# 1    bird       24.0
# 2  mammal       80.5
# 3  mammal        NaN

In [ ]:
# df.isna().sum()
# return how many nan in each column
# or how many nan in each row (change axis)
import pandas as pd
import numpy as np

df = pd.DataFrame({'a':[1,2,np.nan], 'b':[np.nan,1,np.nan]})
df
# 	a	b
# 0	1.0	NaN
# 1	2.0	1.0
# 2	NaN	NaN
df.isna().sum()
# a    1
# b    2
# dtype: int64
df.isna().sum(axis=1)
# 0    1
# 1    0
# 2    2
# dtype: int64

# isnull() also works
df.isnull().sum(axis = 0)
df.isnull().sum(axis = 1)

In [ ]:
# df = pd.DataFrame({
#     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
#     'col2': [2, 1, 9, 8, 7, 4],
#     'col3': [0, 1, 9, 4, 2, 3],
#     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
# })
# df
#   col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F
# Sort by col1

# df.sort_values(by=['col1'])
#   col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 5    C     4     3    F
# 4    D     7     2    e
# 3  NaN     8     4    D
# Sort by multiple columns

# df.sort_values(by=['col1', 'col2'])
#   col1  col2  col3 col4
# 1    A     1     1    B
# 0    A     2     0    a
# 2    B     9     9    c
# 5    C     4     3    F
# 4    D     7     2    e
# 3  NaN     8     4    D
# Sort Descending

# df.sort_values(by='col1', ascending=False)
#   col1  col2  col3 col4
# 4    D     7     2    e
# 5    C     4     3    F
# 2    B     9     9    c
# 0    A     2     0    a
# 1    A     1     1    B
# 3  NaN     8     4    D
# Putting NAs first

# df.sort_values(by='col1', ascending=False, na_position='first')
#   col1  col2  col3 col4
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F
# 2    B     9     9    c
# 0    A     2     0    a
# 1    A     1     1    B
# Sorting with a key function

# df.sort_values(by='col4', key=lambda col: col.str.lower())
#    col1  col2  col3 col4
# 0    A     2     0    a
# 1    A     1     1    B
# 2    B     9     9    c
# 3  NaN     8     4    D
# 4    D     7     2    e
# 5    C     4     3    F
# Natural sort with the key argument, using the natsort <https://github.com/SethMMorton/natsort> package.

# df = pd.DataFrame({
#    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
#    "value": [10, 20, 30, 40, 50]
# })
# df
#     time  value
# 0    0hr     10
# 1  128hr     20
# 2   72hr     30
# 3   48hr     40
# 4   96hr     50
# from natsort import index_natsorted
# df.sort_values(
#    by="time",
#    key=lambda x: np.argsort(index_natsorted(df["time"]))
# )
#     time  value
# 0    0hr     10
# 3   48hr     40
# 2   72hr     30
# 4   96hr     50
# 1  128hr     20

In [ ]:
https://stackoverflow.com/questions/57770943/python-keyerror-date-time

In [ ]:
# os.getcwd()

# os.path.join(outdir, outname)

# os.path.exists(outdir)

In [ ]:
# ccxt starter

import ccxt, os

exchange = ccxt.binance()
exchange.load_markets()

symbols = exchange.symbols

# use bars[:-1] to avoid false signal espeacially in current candle
# because ccxt gives the ongoing candle before they close _real time_
# bars[:-3] will get less trades; but better quality

def ccxt_data(symbol='ETH/USDT', timeframe ='4h', limit=111):
    # using global is bad but i need it to get access to data variable in dataviewer
    global data
    # global fullname
    
    # 'ETH/USDT' to 'ETH_USDT'
    m_symbol = symbol.replace("/","_")
    # 'ETH_USDT_4h_111.csv'
    outname = m_symbol+'_'+timeframe+'_'+f'{limit}'+'.csv'
    outdir=os.getcwd()+f'/data/{timeframe}'
    fullname = os.path.join(outdir, outname)    

    if not os.path.exists(outdir):
        os.mkdir(outdir)

    if not (os.path.exists(fullname)):

        bars = exchange.fetch_ohlcv(symbol, timeframe=timeframe, limit=limit)
        # must use bars[:-1] because arrgrelextrema will see the last candle wich have not closed yet
        data = pd.DataFrame(bars[:-1], columns=['Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
        data['Time'] = pd.to_datetime(data['Time'], unit='ms')
        data.set_index('Time', inplace=True)

        data.to_csv(fullname) 
        # print('here')
    
    else:
        tem_data = pd.read_csv(fullname, index_col='Time')
        # last_candle_time=tem_data['Time'].max()
        last_candle_time_plus=pd.to_datetime(tem_data.index[-1]) + pd.Timedelta(8, unit="h")
        if (last_candle_time_plus) >= pd.to_datetime(datetime.now()) :
            data = tem_data
        else:
            bars = exchange.fetch_ohlcv(symbol, timeframe=timeframe, limit=limit)
            data = pd.DataFrame(bars[:-1], columns=['Time', 'Open', 'High', 'Low', 'Close', 'Volume'])
            data['Time'] = pd.to_datetime(data['Time'], unit='ms')
            data.set_index('Time', inplace=True)

            data.to_csv(fullname)
            

    return data

In [ ]:
# Constructing DataFrame

import pandas as pd
import numpy as np

# Constructing DataFrame from a list
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
# if you dont provide an index for df; pandas will give it the implicit index (0, 1, 2, ...)
# mydict is actualy a list of dict
# when converting a list into a df; the first element of the list is the first row which has the index 0
# and you know the rest
# in dict the key is the column name
df
#       a     b     c     d
# 0     1     2     3     4
# 1   100   200   300   400
# 2  1000  2000  3000  4000

# Constructing DataFrame from a dictionary.

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df
#    col1  col2
# 0     1     3
# 1     2     4

# Notice that the inferred dtype is int64.
df.dtypes
# col1    int64
# col2    int64
# dtype: object

# To enforce a single dtype:
df = pd.DataFrame(data=d, dtype=np.int8)
# df.dtypes
# col1    int8
# col2    int8
# dtype: object

# Constructing DataFrame from numpy ndarray:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df2
#    a  b  c
# 0  1  2  3
# 1  4  5  6
# 2  7  8  9

# question = change dtype of a to i8 and keep the other at i4 ?

# Constructing DataFrame from a numpy ndarray that has labeled columns:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
                dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
df3 = pd.DataFrame(data, columns=['c', 'a'])
df3
#    c  a
# 0  3  1
# 1  6  4
# 2  9  7

# Constructing DataFrame from dataclass:
from dataclasses import make_dataclass
Point = make_dataclass("Point", [("x", int), ("y", int)])
pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
#    x  y
# 0  0  0
# 1  0  3
# 2  2  3

In [ ]:
""" pandas.DataFrame.iloc

.iloc[] is primarily integer position based (from 0 to length-1 of the axis), 
but may also be used with a boolean array. 

Allowed inputs are:

* An integer, e.g. 5.
* A list or array of integers, e.g. [4, 3, 0].
* A slice object with ints, e.g. 1:7.
* A boolean array.
* A callable function with one argument (the calling Series or DataFrame) and 
that returns valid output for indexing (one of the above). 
This is useful in method chains, when you don't have a reference to the calling object, 
but would like to base your selection on some value.

.iloc will raise IndexError if a requested indexer is out-of-bounds, 
except slice indexers which allow out-of-bounds indexing
 (this conforms with python/numpy slice semantics). """

import pandas as pd

mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

df
#       a     b     c     d
# 0     1     2     3     4
# 1   100   200   300   400
# 2  1000  2000  3000  4000

# Indexing just the rows

# With a scalar integer.
type(df.iloc[0])
# <class 'pandas.core.series.Series'>
# here iloc returns a row in a series format which is a one column with index column; 
# but everything inversed; the columns names are the index now .. look the example below
# there is a way to keep order, look the example below _the second one_

df.iloc[0]
# a    1
# b    2
# c    3
# d    4
# Name: 0, dtype: int64
# notice that name is 0 which is the row name 

# With a list of integers.
df.iloc[[0]]
#    a  b  c  d
# 0  1  2  3  4

type(df.iloc[[0]])
# <class 'pandas.core.frame.DataFrame'>

df.iloc[[0, 1]]
#      a    b    c    d
# 0    1    2    3    4
# 1  100  200  300  400

# With a slice object.
df.iloc[:3]
#       a     b     c     d
# 0     1     2     3     4
# 1   100   200   300   400
# 2  1000  2000  3000  4000

# With a boolean mask the same length as the index.
df.iloc[[True, False, True]]
#       a     b     c     d
# 0     1     2     3     4
# 2  1000  2000  3000  4000

# With a callable, useful in method chains. 
# The x passed to the lambda is the DataFrame being sliced. 
# This selects the rows whose index label even.
df.iloc[lambda x: x.index % 2 == 0]
#       a     b     c     d
# 0     1     2     3     4
# 2  1000  2000  3000  4000

# Indexing both axes

# You can mix the indexer types for the index and columns. 
# Use : to select the entire axis.With scalar integers.
df.iloc[0, 1]
# 2

# With lists of integers.
df.iloc[[0, 2], [1, 3]]
#       b     d
# 0     2     4
# 2  2000  4000

# With slice objects.
df.iloc[1:3, 0:3]
#       a     b     c
# 1   100   200   300
# 2  1000  2000  3000

# With a boolean array whose length matches the columns.
df.iloc[:, [True, False, True, False]]
#       a     c
# 0     1     3
# 1   100   300
# 2  1000  3000

# With a callable function that expects the Series or DataFrame.
df.iloc[:, lambda df: [0, 2]]
#       a     c
# 0     1     3
# 1   100   300
# 2  1000  3000

# iloc returns a slice; then min() takes over
step = 5
minim = np.array([])
for i in range(0, 55, step):
    minim=np.append(minim, df.low.iloc[i:i+step].min())

In [ ]:
""" pandas.DataFrame.idxmin
Return index of first occurrence of minimum over requested axis.

NA/null values are excluded. """
import pandas as pd

# Consider a dataset containing food consumption in Argentina.

df = pd.DataFrame({'consumption': [10.51, 103.11, 55.48],
                   'co2_emissions': [37.2, 19.66, 1712]},
                   index=['Pork', 'Wheat Products', 'Beef'])
df
#                 consumption  co2_emissions
# Pork                  10.51         37.20
# Wheat Products       103.11         19.66
# Beef                  55.48       1712.00

# By default, it returns the index for the minimum value in each column.
df.idxmin()
# consumption                Pork
# co2_emissions    Wheat Products
# dtype: object

df['consumption'].idxmin()
# 'Pork'

# To return the index for the minimum value in each row, use axis="columns".
df.idxmin(axis="columns")
# Pork                consumption
# Wheat Products    co2_emissions
# Beef                consumption
# dtype: object

In [ ]:
# numpy.append
# Append values to the end of an array.

np.append([1, 2, 3], [[4, 5, 6], [7, 8, 9]])
# array([1, 2, 3, ..., 7, 8, 9])

# When axis is specified, values must have the correct shape.
np.append([[1, 2, 3], [4, 5, 6]], [[7, 8, 9]], axis=0)
# array([[1, 2, 3],
#        [4, 5, 6],
#        [7, 8, 9]])

np.append([[1, 2, 3], [4, 5, 6]], [7, 8, 9], axis=0)
# Traceback (most recent call last):
#     ...
# ValueError: all the input arrays must have same number of dimensions, but
# the array at index 0 has 2 dimension(s) and the array at index 1 has 1
# dimension(s)

my_list = []
np.append(my_list, [[7, 8, 9]])
# array([7., 8., 9.])

In [ ]:
# access dicts in a list

# dataset = [dict(Images = 'img1', location = r'New/gfg.png'),
#            dict(Images = 'img2', location = r'New/1.png'),
#            dict(Images = 'img3', location = r'New/gfg2.png'),
#            dict(Images = 'img4', location = r'New/oled.png'),
#            dict(Images = 'img5', location = r'New/oled2.png')]

# dataset[0]['Images']

In [ ]:
# the difference between os.path.basename() and os.path.dirname()

# Both functions use the os.path.split(path) function
# to split the pathname path into a pair; (head, tail).

# The os.path.dirname(path) function returns the head of the path.

# E.g.: The dirname of '/foo/bar/item' is '/foo/bar'.

# The os.path.basename(path) function returns the tail of the path.

# E.g.: The basename of '/foo/bar/item' returns 'item'


# Remember that if you replace item with item/, which is a directory,
# then os.path.split('foo/bar/item/') returns ('foo/bar/item', '')

In [1]:
# # Function to convert file path into clickable form.
# def fun(path):
    
#     # returns the final component of a url
#     f_url = os.path.basename(path)
      
#     # convert the url into link
#     return '<a href="{}">{}</a>'.format(path, f_url)

'<a href="googlr.com/glr">glr</a>'

In [ ]:
# if a and b and c and d and d


# if a and b \
#     and c and d