In [ ]:
# How do I concatenate two lists in Python?

#########################
l1 = [1, 2, 3]
l2 = [4, 5, 6]

joinedlist = l1 + l2

#########################

# joining two lists 
# (applies to any iterable like sets, renges, tuples) 
# can now also be done with:


joined_list = [*l1, *l2]  # unpack both iterables in a list literal
print(joined_list)
# [1, 2, 3, 4, 5, 6]


# my_list + list(my_tuple) + list(my_range) 

# which is now equivalent to just 

# [*my_list, *my_tuple, *my_range]

# So while addition with + would raise a TypeError due to type mismatch:

# l = [1, 2, 3]
# r = range(4, 7)
# res = l + r
# The following won't:

# res = [*l, *r]

# because it will first unpack the contents of the iterables 
# and then simply create a list from the contents.

###################
# A nice example of the unpacking approach working on iterable types 
# is functions that return an iterator over one of the lists you're concatenating. 
# For example, you could reverse one of the lists you're concatenating: 

res = [*l1, *reversed(l2)] 

# Since reversed returns an iterator
res = l1 + reversed(l2) 
# would throw an error.

#################

# If you care about maintaining input order, then 

import collections 
mergedlist = list(collections.OrderedDict.fromkeys(l1 + l2))


# You can use sets to obtain merged list of unique values (remove duplicates)
mergedlist = list(set(l1 + l2))

In [ ]:
# same dict but diffrent style

dict1 = {'a':[1,2,3], 'b':[5,8,9]}

dict2 = dict(a = [1,2,3], b = [5,8,9])

dict3 = {**dict1, **dict2}

In [11]:
# conver str to datetime than convert datetime to unix time
# with the option of renaming columns

import pandas as pd
symbol = 'ETCUSDT'
df=pd.read_csv(f"C:\\Users\Grant\Desktop\work_git\work\data\\4h\{symbol}_4h.csv", parse_dates=True)
df.rename(columns={'Time': 'time', 'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close'}, inplace=True)

df['time'] = pd.to_datetime(df['time'])
df['time'] = (df['time'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
df

           time   open   high    low  close     Volume
0    1631664000  57.14  57.49  56.28  56.86  163154.01
1    1631678400  56.86  57.46  56.40  57.43  138207.43
2    1631692800  57.41  58.91  57.39  57.93  364149.23
3    1631707200  57.93  58.94  57.50  58.86  249071.95
4    1631721600  58.87  59.06  58.37  58.54  142117.44
..          ...    ...    ...    ...    ...        ...
994  1645977600  28.92  28.95  27.09  27.13  182660.92
995  1645992000  27.13  27.80  26.89  27.36  294396.23
996  1646006400  27.36  27.86  26.89  27.29  183490.05
997  1646020800  27.30  27.82  26.91  27.68  177744.60
998  1646035200  27.68  27.93  27.50  27.55   46021.80

[999 rows x 6 columns]

In [ ]:
# removing numbers which are close to each other in a list

# The below uses groupby to identify runs from 
# the iterable that start with a value start and 
# contain values that differ from start by no more than 4 
# We then collect all of those start values into a list.

from itertools import groupby

mylist = [75,75,76,77,78,79,154,155,154,156,260,262,263,550,551,551,552]

def runs(difference=4):
    start = None
    def inner(n):
        nonlocal start
        if start is None:
            start = n
        elif abs(start-n) > difference:
            start = n
        return start
    return inner

print([next(g) for k, g in groupby(mylist, runs())])
# [75, 154, 260, 550]

# This assumes that the input data is already sorted. 
# If it's not, you'll have to sort it: 

groupby(sorted(mylist), runs())

In [ ]:
# How to compare each item in a list with the rest, only once?

# itertools magic here to generate all possible combinations:

import itertools
mylist = range(5)
for x,y in itertools.combinations(mylist, 2):
    print(x,y)

# 0 1
# 0 2
# 0 3
# 0 4
# 1 2
# 1 3
# 1 4
# 2 3
# 2 4
# 3 4

# itertools.combinations will pair each element with
# each other element in the iterable, but only once.

# You could still write this using index-based item access, 
# equivalent to what you are used to, using nested for loops:

for i in range(len(mylist)):
    for j in range(i + 1, len(mylist)):
        print(mylist[i], mylist[j])

In [ ]:
# TypeError: '<' not supported between instances of 'Timestamp' and 'int'

# some where you have a comparison between a number and a timestap
# chnge the number into a time stamp 
# for example

num = pd.to_datetime(1490195805, unit='s')
# Timestamp('2017-03-22 15:16:45')