In [8]:
import pandas as pd

df = pd.DataFrame([[26,16,18,8.7,2.9,1.9]], columns=[
				'George', 'John', 'Micheal', 'Oliva', 'Chris', 'Hemosworth'])


new_itr = next(df.iterrows())[1]
print(new_itr)

0

In [16]:
import pandas as pd

#create dataframe
df_marks = pd.DataFrame({
    'name': ['apple', 'banana', 'orange', 'mango'],
	'calories': [68, 74, 77, 78]})

#iterate through each row of dataframe
for index, row in df_marks.iterrows():
    print(index, ': ', row['name'], 'has', row['calories'], 'calories.')

0 :  apple has 68 calories.
1 :  banana has 74 calories.
2 :  orange has 77 calories.
3 :  mango has 78 calories.

In [ ]:
# The next() function returns the next item in an iterator.

# You can add a default return value, to return if the iterable has reached to its end.

# example:
# Create an iterator, and print the items one by one 
# and Return a default value when the iterable has reached to its end:


mylist = iter(["apple", "banana", "cherry"])
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)

In [ ]:
data['Volume'].iloc[:-10:-1]
# Time
# 2022-04-24 11:00:00    531360.0
# 2022-04-24 10:00:00    435985.0
# 2022-04-24 09:00:00    660895.0
# 2022-04-24 08:00:00    939266.0
# 2022-04-24 07:00:00    312948.0
# 2022-04-24 06:00:00    280462.0
# 2022-04-24 05:00:00    292132.0
# 2022-04-24 04:00:00    639604.0
# 2022-04-24 03:00:00    490420.0
# Name: Volume, dtype: float64

data['Volume'].iloc[970:998:1]
# Time
# 2022-04-23 08:00:00    1968241.0
# 2022-04-23 09:00:00    1466779.0
# 2022-04-23 10:00:00     797309.0
# 2022-04-23 11:00:00     348603.0
# 2022-04-23 12:00:00     754415.0
# 2022-04-23 13:00:00     611950.0
# 2022-04-23 14:00:00     424807.0
# ...
# 2022-04-24 05:00:00     292132.0
# 2022-04-24 06:00:00     280462.0
# 2022-04-24 07:00:00     312948.0
# 2022-04-24 08:00:00     939266.0
# 2022-04-24 09:00:00     660895.0
# 2022-04-24 10:00:00     435985.0
# 2022-04-24 11:00:00     531360.0
# Name: Volume, dtype: float64

data['Volume'].iloc[998:970:-1]
# Time
# 2022-04-24 11:00:00     531360.0
# 2022-04-24 10:00:00     435985.0
# 2022-04-24 09:00:00     660895.0
# 2022-04-24 08:00:00     939266.0
# 2022-04-24 07:00:00     312948.0
# 2022-04-24 06:00:00     280462.0
# 2022-04-24 05:00:00     292132.0
# ...
# 2022-04-23 14:00:00     424807.0
# 2022-04-23 13:00:00     611950.0
# 2022-04-23 12:00:00     754415.0
# 2022-04-23 11:00:00     348603.0
# 2022-04-23 10:00:00     797309.0
# 2022-04-23 09:00:00    1466779.0
# Name: Volume, dtype: float64

data['Volume'].iloc[:970:-1]
# Time
# 2022-04-24 11:00:00     531360.0
# 2022-04-24 10:00:00     435985.0
# 2022-04-24 09:00:00     660895.0
# 2022-04-24 08:00:00     939266.0
# 2022-04-24 07:00:00     312948.0
# 2022-04-24 06:00:00     280462.0
# 2022-04-24 05:00:00     292132.0
# ...
# 2022-04-23 14:00:00     424807.0
# 2022-04-23 13:00:00     611950.0
# 2022-04-23 12:00:00     754415.0
# 2022-04-23 11:00:00     348603.0
# 2022-04-23 10:00:00     797309.0
# 2022-04-23 09:00:00    1466779.0
# Name: Volume, dtype: float64



data['Volume'].iloc[998:970:1]
# Series([], Name: Volume, dtype: float64)

data['Volume'].iloc[::-1]
# Time
# 2022-04-24 11:00:00    531360.0
# 2022-04-24 10:00:00    435985.0
# 2022-04-24 09:00:00    660895.0
# 2022-04-24 08:00:00    939266.0
# 2022-04-24 07:00:00    312948.0
#                          ...   
# 2022-03-14 02:00:00     56438.0
# 2022-03-14 01:00:00    102289.0
# 2022-03-14 00:00:00    136283.0
# 2022-03-13 23:00:00    114795.0
# 2022-03-13 22:00:00    276710.0
# Name: Volume, Length: 998, dtype: float64

In [9]:
# Turn a list into a series

import pandas as pd

lst = [1, 2, 3, 4, 5, 6, 7, 8]

dates = pd.date_range('1/1/2000', periods=8)

# if you dont specify the index, pandas will create an index for you (integers 0, 1, 2, 3 ..)

# if you didnt specify a name for the series, pandas will create a name for you (0)

lst_to_serie1 = pd.DataFrame(lst, index=dates, columns=['lst_name'])

# or

lst_to_serie2 = pd.DataFrame(lst).rename(columns = {0:'lst_name'}).set_index(dates)

In [6]:
# make a custom dataframe from multiple dataframes and series (cherrie picking columns)


import pandas as pd

lst = [1, 2, 3, 4]

df1 = pd.DataFrame({'A': [1, 2, 3, 4],'B': [5, 6, 7, 8],'C': [9, 10, 11, 12]})
df2 = pd.DataFrame({'X': [77, 52, 93, 34],'Y': [5, 6, 7, 8]})

close_price = df1['A']
macd_line = df1['C']
signal_line = df2['X']

# position = pd.DataFrame(lst, index=dates, columns=['position'])

# index = dates wont work, cuz the index must be the same as the other dfs, so:
position = pd.DataFrame(lst, columns=['position'])


frames = [close_price, macd_line, signal_line, position]
strategy = pd.concat(frames, join = 'inner', axis = 1)
strategy

   A   C   X  position
0  1   9  77         1
1  2  10  52         2
2  3  11  93         3
3  4  12  34         4