How to get the BEST performing ðŸš€ Cryptocurrencies over the last n hours/minutes

In [1]:
import pandas as pd
from tqdm import tqdm
from binance.client import Client

In [7]:
# inefficient way

# info = client.get_exchange_info()
# symbols = [x['symbol'] for x in info['symbols']]

#better way 

api_key = ''
api_secret = ''

client = Client(api_key, api_secret)
tickers = client.get_all_tickers()

In [29]:

ticker_list = []
for i in range(len(tickers)-1):
    ticker_list.append(tickers[i]['symbol'])

len(ticker_list)

1830

In [33]:
excludes = ['UP', 'DOWN', 'BEAR', 'BULL']
non_lev = [ticker for ticker in ticker_list if all(exclude not in ticker for exclude in excludes)]
len(non_lev)

1767

In [37]:
usdts = [ticker for ticker in non_lev if ticker.endswith('USDT')]
len(usdts)

318

In [39]:
df = pd.DataFrame(usdts)
df.to_csv('tickers.csv')

In [ ]:
# klines = {}
# for symbol in tqdm(usdts):
#     klines[symbol] = client.get_historical_klines(symbol, '1h', '1 hour ago UTC')

In [9]:

data = client.get_historical_klines('ETHUSDT', Client.KLINE_INTERVAL_4HOUR, '1 Jan, 2016')
data = pd.DataFrame(data)
data.to_csv("data/{}.csv".format('ETHUSDT'))

In [10]:
df = pd.read_csv("data/ETHUSDT.csv")
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
0,0,1502942400000,301.13,307.96,298.00,307.96,1561.95305,1502956799999,4.734877e+05,711,1260.38649,3.820972e+05,46884.543391
1,1,1502956800000,307.95,312.00,307.00,308.95,1177.71088,1502971199999,3.645453e+05,775,1093.84885,3.385876e+05,46866.630800
2,2,1502971200000,308.95,310.51,303.56,307.06,1882.05267,1502985599999,5.786449e+05,1140,1742.14642,5.356271e+05,47528.189091
3,3,1502985600000,307.74,312.18,298.21,301.60,1208.05192,1502999999999,3.702091e+05,957,1097.32020,3.365462e+05,48886.753370
4,4,1503000000000,301.60,310.85,299.01,302.00,1200.94182,1503014399999,3.677683e+05,939,1030.88803,3.158473e+05,50579.872288
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9420,9420,1638835200000,4347.57,4386.91,4298.59,4341.57,82969.64300,1638849599999,3.601499e+08,159621,42599.10260,1.849487e+08,0.000000
9421,9421,1638849600000,4341.56,4385.22,4330.00,4352.90,59460.89610,1638863999999,2.588409e+08,129727,31647.47570,1.377556e+08,0.000000
9422,9422,1638864000000,4352.91,4425.00,4346.24,4408.33,79190.42760,1638878399999,3.481994e+08,194948,41054.65490,1.805076e+08,0.000000
9423,9423,1638878400000,4408.42,4417.87,4330.59,4386.59,84010.91490,1638892799999,3.672282e+08,204944,40842.13840,1.785547e+08,0.000000
9424,9424,1638892800000,4386.59,4405.00,4283.74,4312.71,44550.97920,1638907199999,1.932270e+08,104890,20904.09840,9.068766e+07,0.000000